---
layout: default
title: Replikation / Partitionierung
is_slide: 1
n: 10
---

<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Leader-based Replication</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/adbkt/a/repl-part/d100-100.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Leaderless Replication</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/adbkt/a/repl-part/d110-100.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Multi-Leader Replication</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/adbkt/a/repl-part/d120-100.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Synchrone / Asynchrone Replikation</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/adbkt/a/repl-part/d130-100.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>xxx</li>
            <li>xxx</li>
            <li>xxx</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Einrichtung neuer Followers</h1>
<ol class="w3-large">
    <li>Konsistenter Schnappschuss der Datenbank zum Zeitpunkt t</li>
    <li>Kopieren des Schnappschusses auf den neuen Follower</li>
    <li>Follower verbindet sich mit Leader, um Änderungen zu
        aktualisieren</li>
</ol>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Knotenausfälle</h1>
<p class="w3-large ic-neg15">Follower</p>
<ul class="w3-large">
    <li>Hält auf der lokalen Disk ein Log vor, das die vom Leader erhaltenen Änderungen enthält</li>
    <li>Absturz des Knotens</li>
    <ul>
        <li>Neustart und Wiederherstellung</li>
        <li>Aktualisierung der Änderungen (Rückfrage beim Leader) </li>
    </ul>
    <li>Netzwerkausfall</li>
    <ul>
        <li>Aktualisierung der Änderungen (Rückfrage beim Leader) </li>
    </ul>
</ul>
<p class="w3-large ic-neg15">Leader</p>
<ul class="w3-large">
    <li>Feststellung Leader-Ausfall</li>
    <li>Auswahl neuer Leader </li>
    <li>Rekonfiguration System auf neuen Leader</li>
    <li>Mögliche Probleme</li>
    <ul>
        <li>Welcher Timeout für Feststellung Leaderausfall</li>
        <li>Alter Leader wird wieder aktiv, Split Brain - zwei Knoten denken, sie sind Leader</li>
        <li>Neuer Leader ist nicht auf neustem Stand der Daten (bei asynchronen Replikation)</li>
        <li>Alter Leader hat neueren Stand an externe Systeme bereits übertragen</li>
    </ul>
</ul>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Übertragung Replikationsdaten</h1>
<p class="w3-large ic-neg15">Übertragung von Anweisungen</p>
<ul class="w3-large">
    <li>Nichtdeterministische Funktionen - z.B. now() </li>
    <li>Reihenfolge der Anweisungsausführung</li>
    <li>Seiteneffekte - Trigger, Stored Procedures</li>
</ul>
<p class="w3-large ic-neg15">Übertragung Transaktionsprotokoll (Write-Ahead-Log, WAL)</p>
<ul class="w3-large">
    <li>Anwendung des WAL auf dem Follower-Knoten</li>
    <li>Direkte Kopplung an die Speichermaschine</li>
    <li>Kompatibilitätsprobleme bei unterschiedlichen Software-Versionen auf den Knoten</li>
</ul>
<p class="w3-large ic-neg15">Übertragung von Datensätzen</p>
<ul class="w3-large">
    <li>Logische Übertragung der Datensatzdaten, nicht physisch wie bei WAL</li>
    <li>Eine Datenbankanweisung kann zu mehreren logischen Datensatzprotokolleinträgen führen</li>
</ul>
<p class="w3-large ic-neg15">Übertragung auf Anwendungsebene</p>
<ul class="w3-large">
    <li>Große Flexibilität</li>
    <li>Change Data Capture (CDC)</li>
    <li>Z.B. über Trigger - Eintragung in Protokolltabellen - Auslesen dieser Tabellen </li>
</ul>
div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Partitionierung (Sharding)</h1>
<ul class="w3-large">
    <li>Daten auf verschiedenen Knoten verteilen</li>
    <li>Horizontale Skalierung</li>
    <li>Allokation Daten: z.B. Consistent Hashing</li>
</ul>
<img class="w3-image" src="/lv/adbkt/a/repl-part/d140-100.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Partitionierung + Replikation</h1>
<ul class="w3-large">
    <li>Datenelemente A, B und C landen in verschiedenen (primären) Partitionen</li>
    <li>Jedes Datenelement wird auf andere Partitionen repliziert</li>
    <li>Replikationsstrategien können konfiguriert werden</li>
    <li>Verschiedene Master für verschiedene Datenelemente möglich</li>
</ul>
<img class="w3-image" src="/lv/adbkt/a/repl-part/d150-100.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    17 ******************************************************************
-->
{% include padding-id.html id=17 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    18 ******************************************************************
-->
{% include padding-id.html id=18 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    19 ******************************************************************
-->
{% include padding-id.html id=19 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    20 ******************************************************************
-->
{% include padding-id.html id=20 %}
<h1>xxx</h1>
<div class="ic-gap"></div>