---
layout: default1
nav: dmdb-er
title: ER-Modelle 1 - DMDB
is_slide: 1
n: 17
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Entity-Relationship-Modellierung</h1>
<ul class="w3-large">
  <li>Starker Bezug zum relationalen Datenmodell</li>
  <ul>
    <li>Abstraktere Beschreibung von relationalen Strukturen</li>
    <li>Transformation in das relationale Modell</li>
  </ul>
  <li>Datenmodellierungstechnik, basierend auf</li>
  <ul>
    <li>Klassifikation von Objekten</li>
    <li>Klassifikation von Beziehungen zwischen Objekten</li>
  </ul>
  <li>Wurde Mitte der 70er Jahre entwickelt</li>
  <ul>
    <li>Verschiedene Variationen</li>
    <li>Werkzeugunterstützung</li>
  </ul>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Klassifizierung von Objekten</h1>
<div class="w3-row-padding">
  <div class="w3-col m4">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d10-200.png"
    alt='
    Datenbankobjekt mit der Bezeichnung "Lehrperson". Das Objekt ist in einem abgerundeten Rechteck dargestellt, welches blau umrandet ist. Innerhalb des Rechtecks befinden sich drei Attribute, die jeweils mit einem Symbol versehen sind: ein rotes Asterisk neben "LPID" und "Name" und ein blaues "O" neben "EMail". Das Asterisk deutet auf ein Schlüsselattribut hin, während das "O" ein optionales Attribut anzeigt.
    '>
  </div>
  <div class="w3-col m8">
    <ul class="w3-large">
      <li>Entitätstypen klassifizieren Objekte</li>
      <li>Beinhalten Attribute, die die Objekte beschreiben</li>
      <ul>
        <li>Haben Datentypen</li>
        <li>Können Objekte identifizieren</li>
        <li>Können optional oder notwendig sein</li>
      </ul>
    </ul>
    <ul class="w3-large">
      <li>Haben einen intensionalen und extensionalen Charakter</li>
      <ul>
        <li><b>Intensional:</b> Struktur, d.h.die intendierte Form der Informationen</li>
        <li><b>Extensional:</b> Menge der Objekte zu einem Zeitpunkt, Datenbankzustand</li>
      </ul>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Entitätstyp und Extension</h1>
<div class="w3-row-padding">
  <div class="w3-col m6">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d10-150.png"
    alt='
    Datenbankobjekt mit der Bezeichnung "Lehrperson". Das Objekt ist in einem abgerundeten Rechteck dargestellt, welches blau umrandet ist. Innerhalb des Rechtecks befinden sich drei Attribute, die jeweils mit einem Symbol versehen sind: ein rotes Asterisk neben "LPID" und "Name" und ein blaues "O" neben "EMail". Das Asterisk deutet auf ein Schlüsselattribut hin, während das "O" ein optionales Attribut anzeigt.
    '>
  </div>
  <div class="w3-col m6">
    <ul class="w3-large">
      <li>Entitätstyp</li>
      <li>Objekttyp</li>
    </ul>
  </div>
</div>
<hr>
<div class="w3-row-padding">
  <div class="w3-col m6">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d20-100.png"
    alt='
    Die Abbildung zeigt drei elliptische Formen, die jeweils eine Nummer und einen Namen enthalten, wobei die ersten beiden auch eine E-Mail-Adresse beinhalten. Von oben nach unten sind die Inhalte wie folgt: 1. Claßen, ingo.classen@htw-berlin.de 2. Kempa, martin.kempa@htw-berlin.de 3. Burghardt 
    '>
  </div>
  <div class="w3-col m6">
    <ul class="w3-large">
      <li>Entität</li>
      <li>Objekt</li>
      <li>Instanz</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Klassifikation von Beziehungen</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d30-150.png"
alt='
Die Abbildung zeigt ein einfaches Entity-Relationship-Diagramm (ER) mit zwei Entitäten, die durch eine Beziehung verbunden sind. Die linke Entität ist mit "Lehrperson" beschriftet und enthält drei Attribute: ein Primärschlüsselattribut "LPID", sowie die Attribute "Name" und "EMail". Die rechte Entität ist mit "Gebäude" beschriftet und enthält zwei Attribute: ein Primärschlüsselattribut "GID" und das Attribut "Bez". Zwischen den beiden Entitäten besteht eine Beziehung, die durch eine gestrichelte Linie dargestellt wird und mit "hat Büro in" beschriftet ist. Diese Beziehung deutet an, dass eine Lehrperson ein Büro in einem Gebäude hat.
'>
<ul class="w3-large">
  <li>Beziehungstypen klassifizieren Beziehungen</li>
  <li>Graphische Darstellung von Kardinalitäten</li>
  <ul>
    <li>Kardinalität 1: Linienende als ein Strich</li>
    <li>Kardinalität N: Linienende mit drei Strichen (Krähenfuß)</li>
  </ul>
  <li>Graphische Darstellung von Optionalitäten</li>
  <ul>
    <li>Optional: Gestrichelte Linie</li>
    <li>Obligatorisch: Durchgezogene Linie</li>
  </ul>
  <li>Hinweis: Keine Fremdschlüsselspalte in Lehrperson</li>
  <li>Wird bei der Übersetzung ins relationale Modell erzeugt</li>
</ul>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Beziehungstyp und Extension</h1>
<div class="w3-row-padding">
  <div class="w3-col m8">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d30-150.png"
    alt='
    Die Abbildung zeigt ein einfaches Entity-Relationship-Diagramm (ER) mit zwei Entitäten, die durch eine Beziehung verbunden sind. Die linke Entität ist mit "Lehrperson" beschriftet und enthält drei Attribute: ein Primärschlüsselattribut "LPID", sowie die Attribute "Name" und "EMail". Die rechte Entität ist mit "Gebäude" beschriftet und enthält zwei Attribute: ein Primärschlüsselattribut "GID" und das Attribut "Bez". Zwischen den beiden Entitäten besteht eine Beziehung, die durch eine gestrichelte Linie dargestellt wird und mit "hat Büro in" beschriftet ist. Diese Beziehung deutet an, dass eine Lehrperson ein Büro in einem Gebäude hat.
    '>
  </div>
  <div class="w3-col m4">
    <ul class="w3-large">
      <li>Beziehungstyp</li>
    </ul>
  </div>
</div>
<hr>
<div class="w3-row-padding">
  <div class="w3-col m8">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d40-100.png"
    alt='
    Die Abbildung zeigt fünf elliptische Formen, von denen drei jeweils eine Nummer und einen Namen enthalten, und zwei nur eine Nummer und eine Gebäudebezeichnung ("TA A" und "TA C"). Von oben nach unten sind die Inhalte wie folgt: 1. Claßen, ingo.classen@htw-berlin.de 2. Kempa, martin.kempa@htw-berlin.de 3. Burghardt. Claßen und Kempa sind durch eine Beziehung mit dem Element "1, TA A" verbunden, was bedeutet, dass die beiden ein Büro im Gebäude "TA A" haben.
    '>
  </div>
  <div class="w3-col m4">
    <ul class="w3-large">
      <li>Beziehungen</li>
      <li>Instanzen</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Interaktion Beziehungstypen</h1>
<p class="w3-large">Graphikdatei öffnnen</p>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Kardinalitäten und Optionalitäten</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d50-100.png"
alt='
Die Abbildung zeigt 4 Objekte "A", "B", "C" und "D", die aufeinander folgen und mit verschiedenen Beziehungen gekennzeichnet sind. Zwischen "A" und "B" sind mehrere Linien, die mal gestrichelt, mal teilweise gestrichelt und mal vollständig gezeichnet sind. Diese reinen Linien stehen für 1-zu-1 Beziehungen.
Zwischen "B" und "C" sind gleiche Linien, allerdings mit einem Entenfuss auf der Seite von "C". Dies steht für 1-zu-n Beziehungen, ein "B" kann also keine, eine oder mehrere "C" Elemenete besitzen.
Zwischen "C" und "D" sind die gleichen Linien mit Entenfüssen auf beiden Seiten. Dies steht für n-zu-m Beziehungen.
'>

<p class="w3-xlarge ic-neg15">Diskussion Beispiele</p>
<ul class="w3-large">
  <li>Produkt / Lieferant</li>
  <li>Bestellung / Bestellposition</li>
  <li>Mietvertrag / Schlüssel</li>
  <li>Kunde / Schliessfach</li>
  <li>Student/in / Modul</li>
  <li>Raum / Gebäude</li>
  <li>Paket / Empfänger</li>
  <li>Person / Geburtsurkunde</li>
  <li>Arzt / Krankenhaus</li>
  <li>Patient / Raum</li>
</ul>

<div class="ic-gap"></div>

<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Übersetzung ER nach Rel 1</h1>
<div class="w3-row-padding">
  <div class="w3-col m7">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d30-150.png"
    alt='
    Die Abbildung zeigt ein einfaches Entity-Relationship-Diagramm (ER) mit zwei Entitäten, die durch eine Beziehung verbunden sind. Die linke Entität ist mit "Lehrperson" beschriftet und enthält drei Attribute: ein Primärschlüsselattribut "LPID", sowie die Attribute "Name" und "EMail". Die rechte Entität ist mit "Gebäude" beschriftet und enthält zwei Attribute: ein Primärschlüsselattribut "GID" und das Attribut "Bez". Zwischen den beiden Entitäten besteht eine Beziehung, die durch eine gestrichelte Linie dargestellt wird und mit "hat Büro in" beschriftet ist. Diese Beziehung deutet an, dass eine Lehrperson ein Büro in einem Gebäude hat.
    '>
    <hr>
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d32-150.png"
    alt='
    Die Abbildung zeigt ein Relationsmodell mit zwei Entitäten: "Lehrperson" und "Gebaeude". Die Entität "Lehrperson" hat die Attribute "LPID" (Primärschlüssel), "Name", "Email" und den Fremdschlüssel "GID". Die Entität "Gebaeude" hat die Attribute "GID" (Primärschlüssel) und "Bez". Zwischen "Lehrperson" und "Gebäude" herrscht eine 1-zu-n Beziehung, bei der ein Gebäude mehrere Lehrpersonen haben kann, aber eine Person muss kein Gebäude haben.
    '>
  </div>
  <div class="w3-col m5">
    <ul class="w3-large">
      <li>Am Beispiel sqldeveloper</li>
      <li>Entitätstyp wird zu Tabelle</li>
      <li>Beziehungstyp wird zu Fremdschlüssel</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Übersetzung ER nach Rel 2</h1>
<div class="w3-row-padding">
  <div class="w3-col m7">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d51-150.png"
    alt='
    Die Abbildung zeigt ein einfaches Entity-Relationship-Diagramm (ER) mit zwei Entitäten, die durch eine Beziehung verbunden sind. Die linke Entität ist mit "Lehrperson" beschriftet und enthält drei Attribute: ein Primärschlüsselattribut "LPID", sowie die Attribute "Name" und "EMail". Die rechte Entität ist mit "Gebäude" beschriftet und enthält zwei Attribute: ein Primärschlüsselattribut "GID" und das Attribut "Bez". Zwischen den beiden Entitäten besteht eine Beziehung, die durch eine halb gestrichelte Linie dargestellt wird und mit "hat Büro in" beschriftet ist. Diese Beziehung deutet an, dass eine Lehrperson ein Büro in einem Gebäude hat.
    '>
    <hr>
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d52-150.png"
    alt='
    Die Abbildung zeigt ein Relationsmodell mit zwei Entitäten: "Lehrperson" und "Gebaeude". Die Entität "Lehrperson" hat die Attribute "LPID" (Primärschlüssel), "Name", "Email" und den Fremdschlüssel "GID". Die Entität "Gebaeude" hat die Attribute "GID" (Primärschlüssel) und "Bez". Eine Lehrperson muss nun einem Gebäude zugeteilt sein. Die Beziehungslinie ist nicht gestrichelt.
    '>
  </div>
  <div class="w3-col m5">
    <ul class="w3-large">
      <li>Obligatorisch wird zu not null im relationalen Modell</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Übersetzung ER nach Rel 3</h1>
<div class="w3-row-padding">
  <div class="w3-col m7">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d53-150.png"
    alt='
    Die Abbildung zeigt ein einfaches Entity-Relationship-Diagramm (ER) mit zwei Entitäten, die durch eine Beziehung verbunden sind. Die linke Entität ist mit "Lehrperson" beschriftet und enthält drei Attribute: ein Primärschlüsselattribut "LPID", sowie die Attribute "Name" und "EMail". Die rechte Entität ist mit "Gebäude" beschriftet und enthält zwei Attribute: ein Primärschlüsselattribut "GID" und das Attribut "Bez". Zwischen den beiden Entitäten besteht eine Beziehung, die durch eine gestrichelte Linie dargestellt wird und mit "hat Büro in" beschriftet ist. Diese Beziehung deutet an, dass eine Lehrperson ein Büro in einem Gebäude hat. Entenfuss auf beiden Enden der Beziehungslinie für m-zu-n Beziehung.
    '>
    <hr>
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d54-150.png"
    alt='
    Die N-zu-M Beziehung im Relationsmodell wird nun als Zwischentabelle dargestellt.
    Die linke Entität ist "Lehrperson" mit den Attributen "LPID" (Primärschlüssel), "Name" und "EMail". Die mittlere Entität ist "LP2Geb" mit den Attributen "Gebaeude_GID" und "Lehrperson_LPID" (beide als Teil des zusammengesetzten Primärschlüssels und als Fremdschlüssel markiert). Die rechte Entität ist "Gebaeude" mit den Attributen "GID" (Primärschlüssel) und "Bez". Zwischen "Lehrperson" und "LP2Geb" besteht eine 1-zu-n-Beziehung, dargestellt durch eine Linie, die von "Lehrperson" ausgeht und mit einem Pfeil auf "LP2Geb" zeigt. Zwischen "LP2Geb" und "Gebaeude" besteht ebenfalls eine 1-zu-n-Beziehung, dargestellt durch eine Linie, die von "Gebaeude" ausgeht und mit einem Pfeil auf "LP2Geb" zeigt. Die Beziehungen implizieren, dass eine Lehrperson mit mehreren Gebäuden in Verbindung stehen kann und ein Gebäude mit mehreren Lehrpersonen.
    '>
  </div>
  <div class="w3-col m5">
    <ul class="w3-large">
      <li>N-zu-M-Beziehungstypen werden zur Zwischentabelle</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>



<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>ER-Modell Hochschule</h1>
<p class="w3-large">Siehe (<a href="/home/lv/dmdb/dm-er/er-hochschule.html">link</a>)</p>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>Diskussion Semester</h1>
<div class="w3-row-padding">
  <div class="w3-col m7">
    <ul class="w3-large">
      <li>Ist nicht nur Bezeichnung</li>
      <li>Hat Attribute</li>
      <li>Sollte daher Entitätstyp sein</li>
    </ul>
  </div>
  <div class="w3-col m5">
    <img class="w3-image" src="/home/lv/dmdb/a/er1/d60-150.png"
    alt='
    Entität mit dem Titel "Semester". Die Tabelle enthält sechs Attribute, wobei das erste Attribut mit einem Rautensymbol markiert ist, was auf einen Primärschlüssel hindeutet. Die Attribute sind in folgender Reihenfolge aufgelistet: "SID", "Bez", "Beginn", "Ende", "VLBeginn" und "VLEnde". Jedes Attribut ist als Schlüsselattribut markiert.
    '>
  </div>
</div>
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>Module - erster Ansatz</h1>
<ul class="w3-large">
  <li>In einem Semester können viele Module angeboten werden</li>
  <li>Ein Modul kann in vielen Semestern angeboten werden</li>
  <li>Ein Modul kann von vielen Studierenden belegt werden</li>
  <li>Studierende können viele Module belegen</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d70-150.png"
alt='
Die Abbildung zeigt ein Entity-Relationship-Diagramm mit drei Entitäten: Semester, Modul und StudentIn.Die Entität "Semester" enthält zwei Attribute: ein Primärschlüssel SID und eine Bez. "Semester" besitzt eine n-zu-m Beziehung zu "Modul". Die Entität "Modul" hat ebenfalls zwei Attribute: ein Primärschlüssel MID und eine Bez. "Modul" besitzt eine n-zu-m Beziehung zu "StudentIn". Die Entität "StudentIn" auf der rechten Seite hat zwei Attribute: ein Primärschlüssel SID und einen Namen.
'>
<div class="ic-gap"></div>


<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1>Problem des Ansatzes</h1>
<ul class="w3-large">
  <li>Nicht erkennbar, wer in welchem Semester welches Modul belegt hat</li>
  <li>Verbundoperation würde immer Studierende in allen Semestern liefern</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d80-100.png"
alt='
Die Grafik zeigt 3 Kreise "Semester" mit verschiedenen Semestern darin, "Modul" mit verschiedenen Modulen darin und "StudentIn" mit verschiedenen StudentInnen darin. Zwischen den Kreisgruppen verlaufen mehrere Verbindungslinien, die eine komplexe und unklare Zuordnung zwischen Semestern, Modulen und Studierenden darstellen. Es gibt keine direkte Zuordnung, die klar erkennen lässt, welcher Studierende welches Modul in welchem Semester belegt hat.
'>
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>Auflösung des Problems</h1>
<ul class="w3-large">
  <li>Unterscheidung zwischen Modul und Kurs</li>
  <li>Kurs ist die konkrete Durchführung eines Moduls</li>
  <li>Module haben Informationen unabhängig von der Durchführung</li>
  <li>Differenzierung notwendig, um Redundanzen und Inkosistenzen zu vermeiden</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d90-150.png"
alt='
Es sind vier Entitäten "Semester", "Modul", "StudentIn" und "Kurs" dargestellt. Links ist die Entität "Semester" mit den Attributen "SID" und "Bez". In der Mitte befindet sich die Entität "Modul" mit den Attributen "MID" und "Bez". Rechts ist die Entität "StudentIn" mit den Attributen "SID" und "Name". Unterhalb der drei Entitäten ist die Entität "Kurs" zentral positioniert, mit dem Attribut "KID". Die Entität "Kurs" ist mit gestrichelten Linien zu "Modul" als 1-zu-n Beziehung und "StudentIn" als n-zu-m Beziehung verbunden, und mit einer durchgezogenen Linie zu "Semester" als 1-zu-n Beziehung.
'>
<div class="ic-gap"></div>


<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1>Semesterzuordnung von Kursen</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d100-80.png"
alt='
Die Grafik zeigt 3 Kreise "Semester" mit verschiedenen Semestern darin, "Modul" mit verschiedenen Modulen darin und "StudentIn" mit verschiedenen StudentInnen darin. Zwischen den Kreisgruppen verlaufen mehrere Verbindungslinien, die eine komplexe und unklare Zuordnung zwischen Semestern, Modulen und Studierenden darstellen. Es gibt keine direkte Zuordnung, die klar erkennen lässt, welcher Studierende welches Modul in welchem Semester belegt hat. Grafik nun erweitert mit dem Kreis "Kurs", der jeden Kurs einem Semester klar zuordnet und das ursprüngliche Problem gelöst hat.
'>
<div class="ic-gap"></div>


<!--
    17 ******************************************************************
-->
{% include padding-id.html id=17 %}
<h1>Modul- und Kursbestandteile</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er1/d110-100.png"
alt='
Die Abbildung zeigt ein Entity-Relationship-Modell (ERM) für ein universitäres Kursverwaltungssystem. Es besteht aus acht Entitäten, die durch Linien verbunden sind, welche die Beziehungen zwischen ihnen darstellen. Die Entitäten und ihre Attribute sind wie folgt: 
1. StudentIn: SID, Name 
2. Semester: SID, Bez 
3. Raum: RID, RaumNr 
4. Kurs: KID 
5. Modul: MID, Bez, CP, Regelsemester 
6. Lehrperson: LPID, Name 
7. KursBT: KBTID 
8. ModulBT: MBTID, SWS
Die Beziehungen zwischen den Entitäten werden durch Linien dargestellt, wobei die Beziehungsnamen teilweise über den Linien stehen. Die Beziehungen sind: "Belegung" zwischen StudentIn und Kurs, "führt durch" zwischen KursBT und Lehrperson, und "kann lehren" zwischen ModulBT und Lehrperson.
'>
<div class="w3-row-padding">
  <div class="w3-col m4">
    <ul class="w3-large">
      <li>Modul PROG1: VL und Ü</li>
      <li>VL 2 SWS und Ü 2 SWS</li>
      <li>Hat 5 Credit Points</li>
      <li>Regelsemester ist 1</li>
    </ul>
  </div>
  <div class="w3-col m4">
    <ul class="w3-large">
      <li>Kurs pro Semester</li>
      <li>Belegt wird der Kurs</li>
      <li>Hat 2 VL und 2 Ü</li>
    </ul>
  </div>
  <div class="w3-col m4">
    <ul class="w3-large">
      <li>VL/Ü hat Raum</li>
      <li>Hat Lehrperson</li>
      <li>"Kann lehren" für Planung</li>
    </ul>
  </div>
</div>
<div class="ic-gap"></div>

   