---
layout: default1
nav: dmdb-er
title: ER-Modelle 3 - DMDB
is_slide: 1
n: 18
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Generalisierung</h1>
<ul class="w3-large">
    <li>Gemeinsamkeiten in Obertyp</li>
    <li>Spezialisierungen im Untertyp</li>
    <li>Ist-Ein-Beziehung (1-zu-1)</li>
    <li>Vererbung von Attributen</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3000.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Generalisierung - Extension</h1>
<ul class="w3-large">
    <li>Element der Extension StudentIn ist Element der Extension Person</li>
    <li>Extension StudentIn ist Teilmenge von Extension Person</li>
    <li>Person kann weder StudentIn noch Lehrperson sein</li>
    <li>Person kann gleichzeitig StudentIn und Lehrperson sein</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3010.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Attributvererbung</h1>
<ul class="w3-large">
    <li>StudentIn und Lehrperson erben PID und Name</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3020.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Relationale Umsetzung</h1>
<ul class="w3-large">
    <li>Obertyp und Untertypen werden zu Tabellen</li>
    <li>Primärschlüssel Obertyp wird zu Primär- und Fremdschlüssel in Untertyp</li>
    <li>Gemeinsame Attribute in Tabelle für Obertyp</li>
    <li>Spezialisierte Attribute in Untertypen</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3030.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Relationale Umsetzung - Daten</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3040.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Vererbung von Beziehungstypen</h1>
<ul class="w3-large">
    <li>Beziehungstyp geht auf Obertyp</li>
    <li>Instanzen der Untertypen können an diesem Beziehungstyp teilnehmen</li>
    <li>StudentIn und Lehrperson können Adresse haben</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3050.png">
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3060.png">
<div class="ic-gap"></div>



<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Vollständigkeit der Generalisierung</h1>
<ul class="w3-large">
    <li>Keine Instanzen im Obertyp möglich</li>
    <li>Weitere Untertypen zum Modell hinzufügen</li>
    <li>Im Extremfall "Sonstige"</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3070.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Disjunktheit der Generalisierung</h1>
<ul class="w3-large">
    <li>Keine gemeinsamen Instanzen in zwei Untertypen</li>
    <li>Erfordert anderes Modell</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3080.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Vorteile vollständiger, disjunkter Generalisierungen</h1>
<p class="w3-large ic-neg15">Bei Implementierung in einer objektorientierten Sprache</p>
<ul class="w3-large">
    <li>Abstrakte Oberklassen - verhindert versehentliche Objekterzeugung für Oberklasse</li>
    <li>Komplexere Umsetzung nichtdisjunkter Generalisierungen in Sprachen mit Einfachvererbung (wie Java)</li>
</ul>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Rollenmodell</h1>
<ul class="w3-large">
    <li>Generalisierung auf PersonenRollen</li>
    <li>Keine Generalisierung auf Personen</li>
    <li>Rollen sind disjunkt</li>
    <li>Rolle <code>Sonstige</code> für Vollständigkeit</li>
    <li>Daher vollständiges und disjunktes Modell</li>
    <li>Werteliste <code>Rolle</code> - explizite Typinformation im Modell</li>
</ul>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3090.png">
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Rollenmodell - Extension</h1>
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3100.png">
<hr>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3110.png">
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>Generalisierung - Fehlerbeispiel</h1>

<div class="w3-row-padding">
    <div class="w3-col m6">
        <h2>Fehlerhafte Modellierung</h2>
        <img class="w3-image" src="/home/lv/dmdb/a/er/d3120.png">
        <p class="w3-large">Verletzung Substitutionsprinzip</p>
    </div>
    <div class="w3-col m6">
        <h2>Richtiges Modell</h2>
        <img class="w3-image" src="/home/lv/dmdb/a/er/d3130.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1 class="ic-neg15">Verletzung Substitutionsprinzip</h1>
<div>
    <div class="w3-col m6">
        <pre><code class="language-java">public class Quadrat {
  protected int breite;
  public Quadrat(int breite) {
    this.breite = breite;
  }	
  public int flaeche() {
    return breite * breite;
  }
}
public class Rechteck extends Quadrat {
  private int laenge;
  public Rechteck(int breite, int laenge) {
    super(breite);
    this.laenge = laenge;
}</code></pre>
    </div>
    <div class="w3-col m6">
        <pre><code class="language-java">public class Main {
  public static void main(String[] args) {
    Quadrat q = new Quadrat(5);
    System.out.println(q.flaeche());
    // liefert 25
		
    Rechteck r = new Rechteck(5, 6);
    System.out.println(r.flaeche());
    // liefert ebenfalls 25 statt 30
  }
}</code></pre>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1 class="ic-neg10">Übersetzungstrategien ER nach Rel</h1>
<h2>Generalisierung</h2>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3000.png">

<h2>Übersetzung: Eine Tabelle pro Entitätstyp</h2>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3030.png">

<h2>Übersetzung: Eine Tabelle für die gesamte Hierarchie</h2>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3140.png">
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>Bewertung Übersetzungstrategien</h1>
<ul class="w3-large">
    <li>Eine Tabelle pro Entitätstyp</li>
    <ul>
        <li>Not-NULL-Constraints für Untertypen bleiben erhalten</li>
        <li>Verbund erforderlich</li>
    </ul>
    <li>Eine Tabelle für die gesamte Hierarchie</li>
    <ul>
        <li>Keine Not-NULL-Constraints in Untertypen</li>
        <li>Kein Verbund erforderlich</li>
    </ul>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3150.png">
<div class="ic-gap"></div>


<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1 class="ic-neg10">Bibliothek - Nutzer</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3160.png">
<div class="ic-gap"></div>


<!--
    17 ******************************************************************
-->
{% include padding-id.html id=17 %}
<h1 class="ic-neg10">Bibliothek - Medien</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3180.png">
<div class="ic-gap"></div>


<!--
    18 ******************************************************************
-->
{% include padding-id.html id=18 %}
<h1 class="ic-neg10">Bibliothek - Ausleihe</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er/d3190.png">
<div class="ic-gap"></div>


