---
layout: default1
nav: dmdb-er
title: ER-Modelle 4 - DMDB
is_slide: 1
n: 8
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Einfaches Produktdatenmodell</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/er4/d10-130.png"><br>
        <img class="w3-image" src="/home/lv/dmdb/a/er4/d20-100.png">
    </div>
    <div class="w3-col m5">
        <p class="w3-large ic-neg15">Probleme</p>
        <ul class="w3-large">
            <li>Neue Arten von Produkten erfordern neue Spalten</li>
            <li>Erfordert Änderungen am Datenmodell</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Komplexes Produktdatenmodell</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/er4/d30-130.png">
    </div>
    <div class="w3-col m5">
        <p class="w3-large ic-neg15">Eigenschaften</p>
        <ul class="w3-large">
            <li>Neue Spalten erfordern keine Änderungen am Datenmodell</li>
            <li>Lediglich Dateneingabe</li>
            <li>Schwerer zu verstehen</li>
            <li>Komplexität der Anwendungsentwicklung steigt</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Relationale Umsetzung</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d40-130.png">
<p class="w3-large">Eine Tabelle für Wertehierarchie</p>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Daten</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d20-100.png"><br><hr class="ic-hr">
<img class="w3-image" src="/home/lv/dmdb/a/er4/d50-100.png">

<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Internationalisierung</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d60-130.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Internationalisierung Datenbeispiel</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d70-100.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Terminmodell</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d80-100.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Relationale Umsetzung</h1>
<img class="w3-image" src="/home/lv/dmdb/a/er4/d90-100.png">
<div class="ic-gap"></div>


