---
layout: default1
nav: dsml-python
title: Numpy Introduction - DSML
is_slide: 1
n: 3
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Creation of Numpy Arrays</h1>
<ul class="w3-large">
    <li>create a variable np1 of typy numpy array using list [1, 2, 3, 4, 5]</li>
    <li>explain generated code</li>
    <li>create a variable np2 of typy numpy array using list of lists [[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [100, 200, 300, 400, 500]]</li>
    <li>explain generated code</li>
    <li>describe the concept of shapes of numpy arrays using np1 and np2</li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Basic Operations</h1>
<ul class="w3-large">
    <li>generate examples of numpy functions using np1</li>
    <li>generate examples of numpy functions using np2 that contain axis</li>
    <li>generate examples for numpy reshape using np2</li>
    <li>generate examples for numpy transpose using np2</li>
    <li>generate examples for numpy matrix multiplication</li>
    <li>describe the concept of matrix multiplication</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Broadcasting</h1>
<ul class="w3-large">
    <li>generate examples of numpy broadcasting in different dimensions, only in the traditional sense</li>
    <li>explain the differences between row and column vectors</li>
    <li>create examples of row and column vectors in numpy</li>
    <li>explain broadcasting rules</li>
    <li>illustrate broadcasting rules with code examples</li>
    <li>illustrate broadcasting rules with explict expansion of compatible dimensions</li>
    <li>turn broadcasting into point by point operations</li>
    <li>provide code to illustrate</li>
</ul>
<div class="ic-gap"></div>

