---
layout: default1
nav: dsml-python
title: Pandas Introduction - DSML
is_slide: 1
n: 4
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Dataframe Creation</h1>
<ul class="w3-large">
    <li>create a pandas dataframe df_customer for customer data with 6 rows and columns lastname, birthdate, city, total_revenue. city should only contain "New York", two times and "Washington", 4 times</li>
    <li>explain the generated code</li>
    <li>show info of dataframe</li>
    <li>show statistical summary of dataframe</li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Columns</h1>
<ul class="w3-large">
    <li>generate examples for accessing columns</li>
    <li>explain the generated code</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Rows</h1>
<ul class="w3-large">
    <li>generate examples for accessing rows</li>
    <li>explain difference between loc and iloc</li>
    <li>explain indexes</li>
    <li>create a new column called id that combines the first 3 letters of lastname then a hyphon followed by year of birthdate</li>
    <li>use column id as index</li>
</ul>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Filtering and Aggregation of Rows</h1>
<ul class="w3-large">
    <li>filter rows by city "New York"</li>
    <li>explain the generated code</li>
    <li>calculate sum of total_revenue and average age of customers per city</li>
</ul>
<div class="ic-gap"></div>

