---
layout: default1
nav: dmdb-allgemeines
title: Überblick - DMDB
is_slide: 1
n: 3
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Lerninhalte</h1>
<ul class="w3-large">
  <li>Relationenmodell</li>
  <li>SQL</li>
  <li>Entity-Relationship-Modell</li>
  <li>Visualisierung</li>
  <li>Normalisierung</li>
  <li>Fallbeispiele</li>
</ul>
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Leistungsnachweise</h1>
<ul class="w3-large">
  <li>Bewertete Übungsaufgaben (30%)</li>
  <ul>
    <li>Lösungen werden in Kleingruppen erarbeitet</li>
    <li>Interaktive Abnahme der Lösungen</li>
  </ul>
</ul>
<ul class="w3-large">
  <li>Klausur (70%)</li>
  <ul>
    <li>Alle Unterlagen erlaubt</li>
  </ul>
</ul>
<div class="ic-gap"></div>

<!--
    0 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Literatur</h1>
<ul class="w3-large">
  <li>Schicker: Datenbanken und SQL, Springer Vieweg Verlag</li>
  <li>Jarosch: Grundkurs Datenbankentwurf, Springer Vieweg Verlag</li>
</ul>
<p class="w3-large">Beide Bücher sind über die HTW-Bibliothek als E-Book verfügbar.</p>

<div class="ic-gap"></div>