---
layout: default1
nav: dmdb-viz
title: Visualisierungen - Zeitreihen - DMDB
is_slide: 1
n: 8
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">Die folgenden Folien basieren auf</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  und folgen damit der</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International Lizenz (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Liniendiagramm</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/30-50.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Monatliche Einreichungen von Papieren</li>
            <li>Konzentration auf den Trend</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Liniendiagramm mit Punkten</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/20-50.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Konzentration auf Trend und Einzelwerte</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Liniendiagramm mit Fläche</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/40-50.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Noch stärkere Konzentration auf den Trend</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Mehrere Trendlinien</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/70-50.png">
    </div>
    <div class="w3-col m4">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Liniendiagramme bei anderen Fällen</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/80-50.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Ertrag bei Einsatz von Düngemitteln (manure) in 100kg pro Hektar</li>
            <li>Ordnung auf der X-Achse (Werte steigen)</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Mehrere Zeitreihen 1</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/130-100.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Umsatz und Profit</li>
            <li>Verschieden Skalen auf den Y-Achsen</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Mehrere Zeitreihen 2</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/13-timeseries/140-100.png">
    </div>
    <div class="w3-col m4">
        <ul class="w3-large">
            <li>Synchronisierte Skalen auf den Y-Achsen</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>

