---
layout: default1
nav: dmdb-viz
title: Visualisierungen - Viele Verteilungen - DMDB
is_slide: 1
n: 11
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">Die folgenden Folien basieren auf</p>
<ul class="w3-large">
    <li>Fundamentals of Data Visualization (<a href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
        und folgen damit der</li>
    <li>Attribution-NonCommercial-NoDerivatives 4.0 International Lizenz (<a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Temperaturverteilungen</h1>
<ul class="w3-large">
    <li>Mittelwert oder Median?</li>
    <li>Standardfehler oder Konfidenzintervall?</li>
    <li>Enhält wenige Informationen</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/10-30.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Boxplot</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/20-30.png">
    </div>
    <div class="w3-col m5">
        <ul class="w3-large">
            <li>Einfach und informativ</li>
            <li>Geeignet für gleichzeitige Darstellung vieler Verteilungen</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Temperaturverteilungen - Boxplots</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/30-40.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Violinplot</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <ul class="w3-large">
            <img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/40-30.png">
        </ul>        
    </div>
    <div class="w3-col m5">
        <ul class="w3-large">
            <li>Modernere Variante von Boxplot</li>
            <li>Genügend Datenpunkte erforderlich</li>
                </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Temperaturverteilungen - Violinplots</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/50-40.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Temperaturverteilungen - Stripplot</h1>
<ul class="w3-large">
    <li>Anzeige individueller Datenpunkte</li>
    <li>Schlecht bei überlappenden Punkten</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/60-30.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Verzitterung (Jittering)</h1>
<ul class="w3-large">
    <li>Punkte werden künstlich verzittert</li>
    <li>Besserer Überblick über die Verteilungen</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/70-30.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Temperaturverteilungen - Sinaplot</h1>
<ul class="w3-large">
    <li>Kombination von Violinplots und verzittertem Stripplot</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/80-30.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Kammlinenplot (Ridgeline Plot)</h1>
<ul class="w3-large">
    <li>Halbe Violinplots gedreht um 90 Grad</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/90-30.png">
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Sehr viele Verteilungen</h1>
<ul class="w3-large">
    <li>Filmlängen im Verlauf der Jahre</li>
    <li>Kammlinenplot gut geeignet</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/110-30.png">
<div class="ic-gap"></div>

