---
layout: default1
nav: dmdb-viz
title: Visualisierungen - Sonstige - DMDB
is_slide: 1
n: 7
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">Die folgenden Folien basieren auf</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  und folgen damit der</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International Lizenz (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Balkendiagramm - falsch verwendet</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/10-30.png">
        <ul class="w3-large">
            <li>Balkendiagramm startet nicht bei 0</li>
            <li>Verzerrte Darstellung</li>
            <li>Unterschiede erscheinen größer, als sie sind</li>
        </ul>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/20-30.png">
        <ul class="w3-large">
            <li>Richtige Verwendung: Start bei 0</li>
            <li>Unverzerrte Darstellung der Unterschiede</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Linien-/Flächendiagramm - falsch verwendet</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/30-30.png">
        <ul class="w3-large">
            <li>Linien-/Flächendiagramm startet nicht bei 0</li>
            <li>Verzerrte Darstellung</li>
            <li>Unterschiede erscheinen größer, als sie sind</li>
        </ul>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/40-30.png">
        <ul class="w3-large">
            <li>Richtige Verwendung: Start bei 0</li>
            <li>Unverzerrte Darstellung der Unterschiede</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>

<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Flächeorientierte Visualisierung</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/110-30.png">
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/130-30.png">
    </div>
</div>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/120-30.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>Treemap ist quadratische Version von Kuchendiagrammen</li>
            <li>Balkendiagramm verdeutlicht die Unterschiede besser</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Geo-Daten</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/sonstiges/d10-80.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Small Mutiples</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/sonstiges/d20-100.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Dashboards</h1>
<img class="w3-image w3-border" src="/home/lv/dmdb/a/viz/sonstiges/d30-100.png">
<div class="ic-gap"></div>


