---
layout: default1
nav: dmdb-viz
title: Visualisierungen - Assoziationen - DMDB
is_slide: 1
n: 10
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">Die folgenden Folien basieren auf</p>
<ul class="w3-large">
    <li>Fundamentals of Data Visualization (<a href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
        und folgen damit der</li>
    <li>Attribution-NonCommercial-NoDerivatives 4.0 International Lizenz (<a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Scatterplots 1</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/10-40.png">
    </div>
    <div class="w3-col m5">
        <ul class="w3-large">
            <li>Zusammenhänge zweier quantitativer Variablen</li>
            <li>Hier Kopflängen und Gewicht von Vögeln</li>
            <li>Je schwerer der Vogel, desto länger der Kopf</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Scatterplots 2</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/20-40.png">
    </div>
    <div class="w3-col m5">
        <ul class="w3-large">
            <li>Kopflängen und Gewicht von Vögeln</li>
            <li>Unterscheidung nach Varaiable Geschlecht</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Bubble Charts</h1>
<p class="w3-large">Weitere Variable Schädelgröße</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/30-40.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Scatterplot-Matrix</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/40-30.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Korrelationskoeffizienten</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/50-40.png">
    </div>
    <div class="w3-col m5">
        <ul class="w3-large">
            <li>Zwischen -1 und +1</li>
            <li>+/-0.2: Geringer Zusammenhang</li>
            <li>+/-0.6: Mitteler Zusammenhang</li>
            <li>+/-0.9: Starker Zusammenhang</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Korrelogramm 1</h1>
<p class="w3-large">Korrelation mineralischer Inhalt in Glassproben</p>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/60-40.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>Symmetrisch: r(A,B) = r(B,A)<br>
                Deshalb nur eine Hälfte der Matrix</li>
            <li>Viel Mg-Inhalt korreliert mit wenig Inhalt der anderen Mineralien</li>
            <li>Barium und Aluminium korrelieren stark</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Korrelogramm 2</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/70-40.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>Farbskalierung wie vorher</li>
            <li>Größenskalierung zur besseren Erkennung schwacher Korrelationen</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Slopegraph - zwei Variablen</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/120-40.png">
    </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>Bei wenigen Datenpunkten</li>
            <li>Direkter Zusammenhang erkennbar</li>
            <li>Bei vielen Datenpunkten besser Scatterplot</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Slopegraph - drei Variablen</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/130-40.png">
</div>
<div class="ic-gap"></div>