---
layout: default1
nav: dbtech
is_slide: 0
ex: kschr
---
<!-- "kschr", "maut", "vers"-->

{% include translate.html %}
<h1>{{ x.sub[4].t }}</h1>

<!--
====================================================
Probenkühlschrank
==================================================== 
-->  
{% if page.ex == "kschr" %}
<h2>Ü1</h2>
<ul class="w3-large">
    <li>Beschreibung (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-00-beschreibung.pdf">link</a>)</li>
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-01-sql.pdf">link</a>)</li>
    <li>SQL-Script 
        (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-ct.txt">create</a>, 
        <a  href="/home/lv/dbtech/a/ex/kschr/kschr-dt.txt">drop</a>, 
        <a  href="/home/lv/dbtech/a/ex/kschr/kschr-id.txt">insert</a>, 
        <a  href="/home/lv/dbtech/a/ex/kschr/kschr-dd.txt">delete</a>)</li>
    <li>Keine Abgabe - nur Wiederholung von SQL</li>
</ul>


<h2>Ü2</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-02-jdbc.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-02-jdbc.zip">link</a>)</li>
    <li>Packen Sie nur "CoolingJdbc.java" in den Anhang der Mail an mich</li>
</ul>

<h2>Ü3</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-03-service.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-03-service.zip">link</a>)</li>
    <li>Packen Sie "CoolingService.java" und alle neu erstellten Dateien aus der Aufgabe 3 in den Anhang der Mail an mich</li>
</ul>
</ul>

<h2>Ü4</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-04-sp.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/kschr/kschr-04-sp.zip">link</a>)</li>
    <li>Änderungen sind nur im Package Body erlaubt</li>
    <li>Senden Sie nur eine Datei mit dem Namen "pkg-body.txt", die den Code für den Package Body enthält und packen Sie diese in den Anhang der Mail an mich.</li>
</ul>
{% endif %} 



<!--
====================================================
Maut
==================================================== 
-->  
{% if page.ex == "maut" %}
<h2>Ü1</h2>
<ul class="w3-large">
    <li>Beschreibung (<a  href="/home/lv/dbtech/a/ex/maut/maut-00-beschreibung.pdf">link</a>)</li>
    <li>Datenmodell (<a  href="/home/lv/dbtech/a/ex/maut/maut-00-rel.pdf">link</a>)</li>
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/maut/maut-01-sql.pdf">link</a>)</li>
    <li>Daten bereits vorhanden</li>
    <li>Keine Abgabe - nur Wiederholung von SQL</li>
</ul>


<h2>Ü2</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/maut/maut-02-jdbc.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/maut/maut-02-jdbc.zip">link</a>)</li>
    <li>Packen Sie nur "MautVerwaltungImpl.java" in den Anhang der Mail an mich</li>
</ul>

<h2>Ü3</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/maut/maut-03-service.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/maut/maut-03-service.zip">link</a>)</li>
    <li>Graphische Darstellung Algorithmus (<a  href="/home/lv/dbtech/a/ex/maut/maut-03-service-algo.png">link</a>)</li>
    <li>Textuelle Darstellung Algorithmus (<a  href="/home/lv/dbtech/a/ex/maut/maut-03-service-algo.txt">link</a>)</li>
    <li>DAO Vorschlag (<a  href="/home/lv/dbtech/a/ex/maut/maut-03-dao-vorschlag.txt">link</a>)</li>
    <li>Packen Sie "MautServiceImpl.java" und alle neu erstellten Dateien aus der Aufgabe 3 in den Anhang der Mail an mich</li>
</ul>
</ul>

<h2>Ü4</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/maut/maut-04-sp.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/maut/maut-04-sp.zip">link</a>)</li>
    <li>Änderungen sind nur im Package Body erlaubt</li>
    <li>Senden Sie nur eine Datei mit dem Namen "pkg-body.txt", die den Code für den Package Body enthält und packen Sie diese in den Anhang der Mail an mich.</li>
</ul>
{% endif %} 



<!--
====================================================
Versicherung
==================================================== 
-->  
{% if page.ex == "vers" %}
<h2>Ü1</h2>
<ul class="w3-large">
    <li>Beschreibung (<a  href="/home/lv/dbtech/a/ex/vers/vers-00-beschreibung.pdf">link</a>)</li>
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/vers/vers-01-sql.pdf">link</a>)</li>
    <li>SQL-Script 
        (<a  href="/home/lv/dbtech/a/ex/vers/vers-01-ct.txt">create</a>, 
        <a  href="/home/lv/dbtech/a/ex/vers/vers-01-dt.txt">drop</a>, 
        <a  href="/home/lv/dbtech/a/ex/vers/vers-01-dt.txt">insert</a>, 
        <a  href="/home/lv/dbtech/a/ex/vers/vers-01-dd.txt">delete</a>)</li>
    <li>Keine Abgabe - nur Wiederholung von SQL</li>
</ul>


<h2>Ü2</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/vers/vers-02-jdbc.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/vers/vers-02-jdbc.zip">link</a>)</li>
    <li>Packen Sie nur "VersicherungJdbc.java" in den Anhang der Mail an mich</li>
</ul>

<h2>Ü3</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/vers/vers-03-service.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/vers/vers-03-service.zip">link</a>)</li>
    <li>Ablehnungsregeln  (<a  href="/home/lv/dbtech/a/ex/vers/one-notes-ue3-ablehnungsregeln.pdf">link</a>)</li>
    <li>Packen Sie "VersicherungService.java" und alle neu erstellten Dateien aus der Aufgabe 3 in den Anhang der Mail an mich</li>
</ul>
</ul>

<h2>Ü4</h2>
<ul class="w3-large">
    <li>Aufgaben (<a  href="/home/lv/dbtech/a/ex/vers/vers-04-sp.pdf">link</a>)</li>
    <li>Eclipse-Projekt (<a  href="/home/lv/dbtech/a/ex/vers/vers-04-sp.zip">link</a>)</li>
    <li>Änderungen sind nur im Package Body erlaubt</li>
    <li>Senden Sie nur eine Datei mit dem Namen "pkg-body.txt", die den Code für den Package Body enthält und packen Sie diese in den Anhang der Mail an mich.</li>
</ul>
{% endif %} 

