---
layout: default1
nav: adbkt-clouddb
title: Serverlose Datenbanksysteme - ADBKT
is_slide: 1
n: 9
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Merkmale</h1>
<ul class="w3-large">
    <li>Abstraktion von der physischen Infrastruktur</li>
    <li>Reduzierter Verwaltungsaufwand</li>
    <li>Hohe Verfügbarkeit und Ausfallsicherheit</li>
    <li>Nutzungsbasierte Abrechnung</li>
    <li>Automatische Skalierung inkl. Skalierung auf Null</li>
</ul>
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Herausforderungen </h1>
<ul class="w3-large">
    <li>Kaltstart und potenziell höhere Latenz</li>
    <li>Sicherheit - weniger direkte Kontrolle</li>
    <li>Anbieterbindung (Vendor Lock-in)</li>
    <li>Debugging und Fehlersuche</li>
    <li>Kostenunvorhersehbarkeit</li>
    <li>Auswahlkomplexität</li>
</ul>
<div class="ic-gap"></div>



<!--
    02 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Automatische elastische Skalierung</h1>

<p class="w3-large ic-neg15">Bezieht sich auf Ressourcen</p>
<ul class="w3-large">
    <li>VMs, Container</li>
    <li>CPU, Speicher, Netzwerk, Anfragen</li>
</ul>

<p class="w3-large ic-neg15">Aktionen</p>
<ul class="w3-large">
    <li>Automatische Anpassung von Ressourcen in Echtzeit</li>
    <li>Bewältigung von Lastspitzen ohne manuelle Eingriffe</li>
    <li>Kontinuierliche Überwachung zentraler Leistungsmetriken</li>
    <li>Automatischer Skalierungsprozess</li>
    <li>Inkrementelle Skalierung</li>
 </ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Skalierung auf null</h1>
<ul class="w3-large">
    <li>Keine Aktivität: Ressourcen auf null herunterzufahren</li>
    <li>Neue Anfrage: Datenbank hochgefahren, Ressourcen zuweisen</li>
    <li>Trennung Rechenkapazität (CPU, RAM) / Speicherkapazität</li>
    <li>Minimaler Aktivität: aktive Knoten herunterfahren / temporäre Daten verschieben</li>
    <li>Prozesse auf schnelle Wiederaufnahme ausgelegt</li>
    <li>Architektur auf Skalierung optimiert</li>
</ul>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Preismodell - Pay-As-You-Go</h1>
<ul class="w3-large">
    <li>Bezahlung nur für die tatsächlich genutzte Ressourcen, Dienste oder Produkte</li>
    <li>Kosten direkt an Volumen oder die Menge gekoppelt (z. B. Anzahl der Anfragen, Speicherkapazität)</li>
    <li>Keine hohen Anfangsinvestitionen oder langfristigen Verträge notwendig</li>
    <li>Flexible Nutzung ohne langfristige finanzielle Verpflichtungen</li>
</ul>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Preismodell - Provisionierung</h1>
<ul class="w3-large">
    <li>Reservierung einer festen Menge an Ressourcen im Voraus</li>
    <li>Für konstante Arbeitslast</li>
    <li>Vorteil: Verfügbarkeit der Ressourcen sichergestellt</li>
    <li>Kosten: Im Voraus festgelegt und konstant, unabhängig von der Nutzung</li>
    <li>Günstiger für Anwendungen mit vorhersehbarer Leistung</li>
    <li>Autoskalierung: Anpassung der provisonierten Ressourcen in definiertem Rahmen</li>
</ul>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Sicherheit</h1>
<ul class="w3-large">
    <li>Implementierung / Verantwortung beim Cloud-Anbieter</li>
        <li>Datenverschlüsselung: Schutz von Daten während Übertragung und im Ruhezustand</li>
        <li>Zugriffskontrolle: Rollenbasierte Zugriffskontrolle und Identitäts-/Zugriffsmanagement (IAM)</li>
        <li>Netzwerksicherheit: Virtual Private Clouds (VPCs) und Netzwerksicherheitsgruppen zur Isolierung</li>
        <li>Protokollierung und Überwachung: Nachverfolgung von Zugriffen/Änderungen für Compliance und Sicherheitsvorfälle</li>
        <li>Datenisolierung: Strikte Trennung der Daten verschiedener Kunden in Multi-Tenant-Umgebungen</li>
</ul>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Verfügbarkeit und Zuverlässigkeit</h1>
<ul class="w3-large">
    <li>Nutzung von Anwendungen, auch unter unerwarteten Bedingungen</li>
    <li>Automatische Replikation über mehrere Rechenzentren</li>
    <li>Fehlererkennungs- und -behebungsmechanismen</li>
    <li>Weiterleitung Verkehr auf funktionierende Instanzen</li>
    <li>Integration von Backup- und Wiederherstellungsfunktionen</li>
    <li>Redundanz und Lastverteilung</li>
</ul>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Geografische Verteilung</h1>
<ul class="w3-large">
    <li>Datennähe zum Nutzer</li>
    <li>Maximierung von Zuverlässigkeit und Verfügbarkeit</li>
    <li>Minimierung Risiko eines vollständigen Ausfalls</li>
    <li>Umleitung Datenzugriff andere geographische Regionen </li>
</ul>
<div class="ic-gap"></div>

