---
layout: default1
nav: dsml-general
title: Intro - DSML
is_slide: 1
n: 20
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Synopsis</h1>
<ul class="w3-large">
    <li>Python for ML</li>
    <li>Data Visualization</li>
    <li>Machine Learning</li>
    <li>SQL</li>
    <li>Business Intelligence</li>
</ul>

<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Examination Requirements</h1>
<ul class="w3-large">
    <li>Exercises - 30 points</li>
    <li>Presentation - 20 points</li>
    <li>Written examination - 50 points</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Kaggle Competitions</h1>
<ol class="w3-large">
    <li>+MITSUI&CO. Commodity Prediction Challenge (<a href="https://www.kaggle.com/competitions/mitsui-commodity-prediction-challenge">link</a>)</li>
    <li>+Neo bank churn prediction (<a href="https://www.kaggle.com/competitions/neo-bank-non-sub-churn-prediction">link</a>)</li>
    <li>Jane Street Real-Time Market Data Forecasting (<a href="https://www.kaggle.com/competitions/jane-street-real-time-market-data-forecasting">link</a>)</li>
    <li>Child Mind Institute - Problematic Internet Use (<a href="https://www.kaggle.com/competitions/child-mind-institute-problematic-internet-use">link</a>)</li>
    <li>+Home Credit - Credit Risk Model Stability (<a href="https://www.kaggle.com/competitions/home-credit-credit-risk-model-stability">link</a>)</li>
    <li>Enefit - Predict Energy Behavior of Prosumers (<a href="https://www.kaggle.com/competitions/predict-energy-behavior-of-prosumers">link</a>)</li>
    <li>Child Mind Institute - Detect Sleep States (<a href="https://www.kaggle.com/competitions/child-mind-institute-detect-sleep-states">link</a>)</li>
    <li>ICR - Identifying Age-Related Conditions (<a href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions">link</a>)</li>
    <li>+OTTO - Multi-Objective Recommender System (<a href="https://www.kaggle.com/competitions/otto-recommender-system">link</a>)</li>
    <li>+American Express - Default Prediction (<a href="https://www.kaggle.com/competitions/amex-default-prediction">link</a>)</li>
    <li>Foursquare - Location Matching (<a href="https://www.kaggle.com/competitions/foursquare-location-matching">link</a>)</li>
    <li>H&M Personalized Fashion Recommendations (<a href="https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations">link</a>)</li>
    <li>Prostate cANcer graDe Assessment (PANDA) Challenge (<a href="https://www.kaggle.com/competitions/prostate-cancer-grade-assessment">link</a>)</li>
    <li>Tweet Sentiment Extraction (<a href="https://www.kaggle.com/competitions/tweet-sentiment-extraction">link</a>)</li>
    <li>+ASHRAE - Great Energy Predictor III (<a href="https://www.kaggle.com/competitions/ashrae-energy-prediction">link</a>)</li>
    <li>+IEEE-CIS Fraud Detection (<a href="https://www.kaggle.com/competitions/ieee-fraud-detection">link</a>)</li>
    <li>+Santander Customer Transaction Prediction (<a href="https://www.kaggle.com/competitions/santander-customer-transaction-prediction">link</a>)</li>
    <li>Elo Merchant Category Recommendation (<a href="https://www.kaggle.com/competitions/elo-merchant-category-recommendation">link</a>)</li>
    <li>Google Analytics Customer Revenue Prediction (<a href="https://www.kaggle.com/competitions/ga-customer-revenue-prediction">link</a>)</li>
    <li>Santander Value Prediction Challenge (<a href="https://www.kaggle.com/competitions/santander-value-prediction-challenge">link</a>)</li>
    <li>+Home Credit Default Risk (<a href="https://www.kaggle.com/competitions/home-credit-default-risk">link</a>)</li>
    <li>Recruit Restaurant Visitor Forecasting (<a href="https://www.kaggle.com/competitions/recruit-restaurant-visitor-forecasting">link</a>)</li>
    <li>Corporación Favorita Grocery Sales Forecasting (<a href="https://www.kaggle.com/competitions/favorita-grocery-sales-forecasting">link</a>)</li>
    <li>+Zillow Prize: Zillow’s Home Value Prediction (Zestimate) (<a href="https://www.kaggle.com/competitions/zillow-prize-1">link</a>)</li>
    <li>+Bosch Production Line Performance (<a href="https://www.kaggle.com/competitions/bosch-production-line-performance">link</a>)</li>
    <li>+Santander Customer Satisfaction (<a href="https://www.kaggle.com/competitions/santander-customer-satisfaction">link</a>)</li>
    <li>Rossmann Store Sales (<a href="https://www.kaggle.com/competitions/rossmann-store-sales">link</a>)</li>
</ol>
<div class="ic-gap"></div>

