{% if page.nav == "home" %}
  {% assign x = site.data.main.r[0] %}

  <!-- Lehre -->
{% elsif page.nav == "lv"%}
  {% assign x = site.data.main.h[0] %}

  <!-- DMDB -->
{% elsif page.nav == "dmdb"%}
  {% assign x = site.data.main.lv[0] %}
<!-- DMDB - Allgemeines -->
{% elsif page.nav == "dmdb-allgemeines"%}
  {% assign x = site.data.main.dmdb[0] %}
<!-- DMDB - Rel -->
{% elsif page.nav == "dmdb-rel"%}
  {% assign x = site.data.main.dmdb[1] %}
<!-- DMDB - ER -->
{% elsif page.nav == "dmdb-er"%}
  {% assign x = site.data.main.dmdb[2] %}
<!-- DMDB - SQL -->
{% elsif page.nav == "dmdb-sql"%}
  {% assign x = site.data.main.dmdb[3] %}
<!-- DMDB - Viz -->
{% elsif page.nav == "dmdb-viz"%}
  {% assign x = site.data.main.dmdb[4] %}
<!-- DMDB - DM-Rel -->
{% elsif page.nav == "dmdb-dm-rel"%}
  {% assign x = site.data.main.dmdb[5] %}
<!-- DMDB - DM-ER -->
{% elsif page.nav == "dmdb-dm-er"%}
  {% assign x = site.data.main.dmdb[6] %}
<!-- DMDB - AB -->
{% elsif page.nav == "dmdb-ab"%}
  {% assign x = site.data.main.dmdb[7] %}

  <!-- DbTech -->
{% elsif page.nav == "dbtech"%}
{% assign x = site.data.main.lv[1] %}

  <!-- ADBKT -->
{% elsif page.nav == "adbkt"%}
{% assign x = site.data.main.lv[2] %}
<!-- ADBKT - Allgemeines -->
{% elsif page.nav == "adbkt-allgemeines"%}
  {% assign x = site.data.main.adbkt[0] %}
<!-- ADBKT - Vorlesungen -->
{% elsif page.nav == "adbkt-vorlesungen"%}
  {% assign x = site.data.main.adbkt[1] %}
<!-- ADBKT - Übungen -->
{% elsif page.nav == "adbkt-uebungen"%}
  {% assign x = site.data.main.adbkt[2] %}
<!-- ADBKT - Prüfungsleistungen -->
{% elsif page.nav == "adbkt-pruefungen"%}
  {% assign x = site.data.main.adbkt[3] %}

  <!-- DataMan -->
{% elsif page.nav == "dataman"%}
{% assign x = site.data.main.lv[3] %}

  <!-- PBI -->
{% elsif page.nav == "pbi"%}
{% assign x = site.data.main.lv[4] %}

  <!-- Sonstiges -->
{% elsif page.nav == "sonstiges"%}
  {% assign x = site.data.main.h[1] %}

  <!-- Links -->
{% elsif page.nav == "links"%}
  {% assign x = site.data.main.h[2] %}
<!-- Allgemeines -->
{% elsif page.nav == "links-allgemeines"%}
  {% assign x = site.data.main.links[0] %}
<!-- DBS -->
{% elsif page.nav == "links-dbs"%}
  {% assign x = site.data.main.links[1] %}
<!-- ML -->
{% elsif page.nav == "links-ml"%}
  {% assign x = site.data.main.links[2] %}
<!-- PROG -->
{% elsif page.nav == "links-prog"%}
  {% assign x = site.data.main.links[3] %}
{% else %}
  Fehler
{% endif %}

{% include nav.html root=x.sub title=x.ts url=x.url %}
