<div class="w3-bar w3-padding-small"> 
  <button onclick="setNavLevel(1)" class="w3-button w3-tiny w3-theme">1</button>
  <button onclick="setNavLevel(2)" class="w3-button w3-tiny w3-theme">2</button>
  <button onclick="setNavLevel(3)" class="w3-button w3-tiny w3-theme">3</button>
  <button onclick="setNavLevel(4)" class="w3-button w3-tiny w3-theme">4</button>
</div>
  
{% if page.is_slide == 1 %}
  <div class="w3-padding-small">
    <button id="btn-slidemode-off" onclick="slideModeSetOn()" class="w3-button w3-tiny w3-theme">Slidemode: off</button>
    <button id="btn-slidemode-on" onclick="slideModeSetOff()" class="w3-button w3-tiny w3-theme">Slidemode: on</button>
  </div>
{% endif %}

<div class="w3-large w3-padding-small">{{include.title}}</div>
<div class="w3-padding-small">
{% for i in include.root %}
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{i.url}}">{{i.ts}}</a><br>
  <div class="L2">
  {% for j in i.sub %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{j.url}}">{{j.ts}}</a><br>
    <div class="L3">
    {% for k in j.sub %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{k.url}}">{{k.ts}}</a><br>
      <div class="L4">
      {% for l in k.sub %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{l.url}}">{{l.ts}}</a><br>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
{% endfor %}
</div>
