<ul class="w3-large">
    <li>Mit Punkten bewertete Übungsaufgaben sind Teil der Prüfungsleistung</li>
    <li>Diese Leistung wird durch die Gruppe bzw. Einzelperson erbracht (hängt von der LV ab, ob Gruppenbearbeitung möglich ist oder Einzelabgaben erforderlich sind)</li>
    <li>Folgendes ist nicht zulässig:</li>
    <ul>
        <li>Ein Abschreiben oder die Übernahme von Lösungsbestandteilen von anderen</li>
        <li>Ein Abgleich eigener Lösung mit dem Code anderer Gruppen</li>
        <li>Eine Übernahme von veröffentlichten Lösungen der gestellten Aufgaben aus dem Internet</li>
        <li>Die Weitergabe von eigenem Code an andere Gruppen</li>
    </ul>
    <li>Ein Plagiat liegt auch dann vor, wenn einzelne Teilaufgaben übernommen wurden</li>
    <li>Sollten Plagiate in den abgegebenen Übungen auftreten, passiert Folgendes</li>
    <ul>
        <li>Die Gruppe/Einzelperson, die abgeschrieben hat, bekommt 0 Punkte für das gesamte Übungsblatt</li>
        <li>Die Gruppe/Einzelperson, die hat abschreiben lassen erhält 0 Punkte für das gesamte Übungsblatt, außer sie kann nachweisen, dass sie für das Abschreiben nicht verantwortlich ist</li>
    </ul>
    <li>Studierende, die ein zweites Mal Plagiate abliefern, werden dem Prüfungsamt gemeldet</li>
</ul>
