<h2>Download</h2>
<ul class="w3-large">
    <li>Von folgender Website (<a  href="https://www.oracle.com/tools/downloads/sqldev-downloads.html">link</a>)</li>
    <li>Sie werden beim Klicken auf "Download" auf einen Login-Screen weitergeleitet</li>
    <li>Dort müssen Sie, falls nicht schon vorhanden, einen Oracle Account anlegen</li>
    <li>Für Windows empfehle ich "Windows 64-bit with JDK 8 included"</li>
    <li>Für Mac ist nur eine Version ohne JDK verfügbar</li>
</ul>

<h2>Installation</h2>
<ul class="w3-large">
    <li>Siehe "Installation Notes" auf der Download-Seite</li>
</ul>

<h2>Konfiguration</h2>
<p class="w3-large">Die Datenbank ist nur über VPN erreichbar</p>

<h3>Neue Verbindung zum Server einrichten</h3>
<img class="w3-image" src="/home/sonstiges/a/screen-12.png">

<h3>Verbindung konfigurieren</h3>
<table class="w3-table-all">
    <tr>
        <th>Eintrag</th>
        <th>Wert</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>kann beliebig gewählt werden</td>
    </tr>
    <tr>
        <td>Benutzername</td>
        <td>siehe Moodle</td>
    </tr>
    <tr>
        <td>Kennwort</td>
        <td>siehe Moodle</td>
    </tr>
    <tr>
        <td>Hostname</td>
        <td>siehe Moodle</td>
    </tr>
    <tr>
        <td>SID</td>
        <td>siehe Moodle</td>
    </tr>
</table><img class="w3-image w3-padding" src="/home/sonstiges/a/screen-20.png">
