---
layout: default1
nav: adbkt-vorlesungen
is_slide: 1
n: 1
---

<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1> Historischer Überblick</h1>
Folien als PDF (<a href="/lv/adbkt/a/hist/hist.pdf">pdf</a>)
<div class="ic-gap"></div>


