---
layout: default1
nav: adbkt-vorlesungen
is_slide: 1
title: Graphdatenbank Neo4j
n: 3
---

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Einführung in Neo4j</h1>
<p class="w3-large ic-neg15">Was ist Neo4j?</p>
<ul class="w3-large">
    <li>Neo4j ist eine Open-Source-Graphdatenbank</li>
    <li>Entwickelt zur Speicherung, Verwaltung und Abfrage von vernetzten Daten</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Hauptmerkmale</p>
<ul class="w3-large">
    <li>Speichert Daten in Form von Knoten, Kanten und deren Eigenschaften</li>
    <li>Optimiert für Traversal- und Abfragegeschwindigkeiten in Netzwerken</li>
    <li>On-Premise und als Cloud-Dienst verfügbar</li>
</ul>

<p class="w3-large ic-neg15">Anwendungsbeispiele</p>
<ul class="w3-large">
    <li>Soziale Netzwerke</li>
    <li>Empfehlungssysteme</li>
    <li>Betrugserkennung</li>
    <li>Netzwerk- und IT-Management</li>
</ul>
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Architektur und Technologien</h1>
<p class="w3-large ic-neg15">Technologie-Stack</p>
<ul class="w3-large">
    <li>Implementierung in Java, läuft auf der Java Virtual Machine (JVM)</li>
    <li>Unterstützt ACID-Transaktionen für Zuverlässigkeit und Datenkonsistenz</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Speicherung und Indexierung</p>
<ul class="w3-large">
    <li>Datenspeicherung erfolgt in einem nativen Graphformat, optimiert für schnelle Traversals</li>
    <li>Unterstützung von Indizes für schnelle Suchen</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Verteilung und Skalierung</p>
<ul class="w3-large">
    <li>Bietet eine native Graph-Plattform für die Verarbeitung von großen Datenclustern</li>
    <li>Enterprise Edition unterstützt hohe Verfügbarkeit und Causal Clustering</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Architektur und Modellierungskonzepte</h1>
<p class="w3-large ic-neg15">Graphenmodell</p>
<ul class="w3-large">
    <li>Knoten (Nodes): Repräsentieren Entitäten (z.B. Personen, Orte, Produkte)</li>
    <li>Kanten (Relationships): Repräsentieren Verbindungen oder Beziehungen zwischen Knoten (z.B. „kennt“, „gekauft“)</li>
    <li>Eigenschaften (Properties): Key-Value-Paare, die Details über Knoten und Kanten speichern</li>
</ul>

<p class="w3-large ic-neg15">Indexierung</p>
<ul class="w3-large">
    <li>Unterstützung für effiziente Suche und Zugriff mit Indizes</li>
    <li>Schema-basierte und Schema-freie Indexierung möglic</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Abfragesprache Cypher</p>
<ul class="w3-large">
    <li>Deklarative Sprache speziell für die Arbeit mit Graphen</li>
    <li>Bietet eine SQL-ähnliche Syntax zum einfachen Abrufen und Manipulieren von Daten</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>
<div class="ic-gap"></div>

<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Abfragesprache Cypher</h1>
<p class="w3-large ic-neg15">Überblick</p>
<ul class="w3-large">
    <li>deklarative Abfragesprache für Neo4j, ähnlich zu SQL, aber für Graphen optimiert</li>
    <li>Ermöglicht intuitive Datenabfragen durch Mustererkennung und pfadbasierte Datenabfrage</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Beispiel</p>
<ul class="w3-large">
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Vorteile</p>
<ul class="w3-large">
    <li>Lesbar und intuitiv gestaltet</li>
    <li>Unterstützt komplexe Abfragen und Aggregationen</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<div class="ic-gap"></div>

