---
layout: default1
nav: adbkt-vorlesungen
is_slide: 1
n: 11
title: Transaktionen in Postgres
---

{% include translate.html %}

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Transaktionskonzepte in Postgres</h1>
<ul class="w3-large">
    <li>Multiversion Concurrency Control, MVCC</li>
    <li>Snapshot Isoloation, SI</li>
    <li>Echte Serialisierbarkeit bei Snapshots, Serializable Snapshot Isoloation, SSI</li>
    <li>Reader don't block Writer and Writer don't block Reader </li>
    <li>Zeilensperren aber ebenfalls verfügbar, S2PL umsetzbar</li>
</ul>

<h2>Umsetzung SQL-Konsistenzstufen</h2>
<table class="w3-table-all">
    <tr>
        <th>Isolation Level</th>
        <th>Dirty Read</th>
        <th>Nonrepeatable Read</th>
        <th>Phantom Read</th>
        <th>Serialization Anomaly</th>
    </tr>
    <tr>
        <td>Read uncommitted</td>
        <td>Allowed, but not in PG</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Read committed</td>
        <td>Not possible</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Repeatable read</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Allowed, but not in PG</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Serializable</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Not possible</td>
    </tr>
</table>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Snapshot - Read Committed</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (kid, betrag): [(100, 2), (200, 6)]

T1: START: READ_COMMITTED
T1: update konto set betrag = 3 where kid=100
T1: [(100, 3), (200, 6)]
T1: commit and close

                    TRead: START: READ_COMMITTED
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]

          T2: START: READ_COMMITTED
          T2: update konto set betrag = 7 where kid=200
          T2: [(100, 3), (200, 7)]
          T2: commit and close

T3: START: READ_COMMITTED
T3: insert into konto values (300, 1)
T3: [(100, 3), (200, 7), (300, 1)]
T3: commit and close

                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 7), (300, 1)]
                    TRead: commit and close

After  (kid, betrag): [(100, 3), (200, 7), (300, 1)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Snapshot - Repeatble Read</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (kid, betrag): [(100, 2), (200, 6)]

T1: START: READ_COMMITTED
T1: update konto set betrag = 3 where kid=100
T1: [(100, 3), (200, 6)]

T1: commit and close

                    TRead: START: REPEATABLE_READ
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]

          T2: START: READ_COMMITTED
          T2: update konto set betrag = 7 where kid=200
          T2: [(100, 3), (200, 7)]

          T2: commit and close

T3: START: READ_COMMITTED
T3: insert into konto values (300, 1)
T3: [(100, 3), (200, 7), (300, 1)]

T3: commit and close

                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]
                    TRead: commit and close

After  (kid, betrag): [(100, 3), (200, 7), (300, 1)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Lost Update</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: select * from personal order by pid
T1: [(100, 40000), (200, 50000)]

          T2: START: READ_COMMITTED
          T2: select * from personal order by pid
          T2: [(100, 40000), (200, 50000)]

T1: update personal set gehalt=41000 where pid=100
T1: [(100, 41000), (200, 50000)]
T1: commit and close

          T2: update personal set gehalt=42000 where pid=100
          T2: [(100, 42000), (200, 50000)]
          T2: commit and close

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: REPEATABLE_READ
T1: select * from personal order by pid
T1: [(100, 40000), (200, 50000)]

          T2: START: REPEATABLE_READ
          T2: select * from personal order by pid
          T2: [(100, 40000), (200, 50000)]

T1: update personal set gehalt=41000 where pid=100
T1: [(100, 41000), (200, 50000)]
T1: commit and close

          T2: update personal set gehalt=42000 where pid=100
          T2: SerializationFailure

After  (pid, gehalt): [(100, 41000), (200, 50000)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Write Skew</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (kid, betrag): [(100, 80), (200, 50)]

T1: START: REPEATABLE_READ
T1: select * from konto order by kid
T1: [(100, 80), (200, 50)]

          T2: START: REPEATABLE_READ
          T2: select * from konto order by kid
          T2: [(100, 80), (200, 50)]

T1: update konto set betrag = betrag -90 where kid=100
T1: [(100, -10), (200, 50)]
T1: commit and close

          T2: update konto set betrag = betrag -50 where kid=200
          T2: [(100, 80), (200, 0)]
          T2: commit and close

After  (kid, betrag): [(100, -10), (200, 0)]

**********

Before (kid, betrag): [(100, 80), (200, 50)]

T1: START: SERIALIZABLE
T1: select * from konto order by kid
T1: [(100, 80), (200, 50)]

          T2: START: SERIALIZABLE
          T2: select * from konto order by kid
          T2: [(100, 80), (200, 50)]

T1: update konto set betrag = betrag -90 where kid=100
T1: [(100, -10), (200, 50)]
T1: commit and close

          T2: update konto set betrag = betrag -50 where kid=200
          T2: SerializationFailure

After  (kid, betrag): [(100, -10), (200, 50)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Update Conflicts 1 - READ COMMITTED</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt= gehalt + 1000 where pid=100
T1: [(100, 41000), (200, 50000)]

          T2: START: READ_COMMITTED
T1: rollback and close

          T2: update personal set gehalt= gehalt + 2000 where pid=100
          T2: [(100, 42000), (200, 50000)]
          T2: commit and close

After  (pid, gehalt): [(100, 42000), (200, 50000)]

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt= gehalt + 1000 where pid=100
T1: [(100, 41000), (200, 50000)]

          T2: START: READ_COMMITTED
T1: commit and close

          T2: update personal set gehalt= gehalt + 2000 where pid=100
          T2: [(100, 43000), (200, 50000)]
          T2: commit and close

After  (pid, gehalt): [(100, 43000), (200, 50000)]

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: delete from personal where pid=100
T1: [(200, 50000)]

          T2: START: READ_COMMITTED
T1: commit and close

          T2: update personal set gehalt= gehalt + 2000 where pid=100
          T2: [(200, 50000)]
          T2: commit and close

After  (pid, gehalt): [(200, 50000)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Update Conflicts 1 - REPEATABLE READ</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt= gehalt + 1000 where pid=100
T1: [(100, 41000), (200, 50000)]

          T2: START: REPEATABLE_READ
T1: rollback and close

          T2: update personal set gehalt= gehalt + 2000 where pid=100
          T2: [(100, 42000), (200, 50000)]
          T2: commit and close

After  (pid, gehalt): [(100, 42000), (200, 50000)]

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt= gehalt + 1000 where pid=100
T1: [(100, 41000), (200, 50000)]

          T2: START: REPEATABLE_READ
T1: commit and close

          T2: SerializationFailure

After  (pid, gehalt): [(100, 41000), (200, 50000)]

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: delete from personal where pid=100
T1: [(200, 50000)]

          T2: START: REPEATABLE_READ
T1: commit and close

          T2: SerializationFailure

After  (pid, gehalt): [(200, 50000)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Update Conflicts 2 - READ COMMITTED</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (wsid, hits): [(100, 9), (200, 10)]

T1: START: READ_COMMITTED
T1: update website set hits = hits + 1
T1: [(100, 10), (200, 11)]

          T2: START: READ_COMMITTED
T1: commit and close

          T2: delete from website where hits = 10
          T2: [(100, 10), (200, 11)]
          T2: commit and close

After  (wsid, hits): [(100, 10), (200, 11)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Update Conflicts 2 - REPEATABLE READ</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (wsid, hits): [(100, 9), (200, 10)]

T1: START: READ_COMMITTED
T1: update website set hits = hits + 1
T1: [(100, 10), (200, 11)]

          T2: START: REPEATABLE_READ
T1: commit and close

          T2: SerializationFailure

After  (wsid, hits): [(100, 10), (200, 11)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Serialisierungsfehler</h1>
<div class="w3-row-padding">
    <div class="w3-col m9">
        <pre><code class="language-sql">Before (cls, val): [(1, 10), (1, 20), (2, 100), (2, 200)]

T1: START: SERIALIZABLE
T1: insert into cv select 2, sum(val) from cv where cls=1
T1: [(1, 10), (1, 20), (2, 30), (2, 100), (2, 200)]
T1: commit and close

          T2: START: SERIALIZABLE
          T2: insert into cv select 1, sum(val) from cv where cls=2
          T2: [(1, 10), (1, 20), (1, 330), (2, 30), (2, 100), (2, 200)]
          T2: commit and close

After  (cls, val): [(1, 10), (1, 20), (1, 330), (2, 30), (2, 100), (2, 200)]

**********

Before (cls, val): [(1, 10), (1, 20), (2, 100), (2, 200)]

T1: START: SERIALIZABLE
T1: insert into cv select 1, sum(val) from cv where cls=2
T1: [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200)]
T1: commit and close

          T2: START: SERIALIZABLE
          T2: insert into cv select 2, sum(val) from cv where cls=1
          T2: [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200), (2, 330)]
          T2: commit and close

After  (cls, val): [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200), (2, 330)]

**********

Before (cls, val): [(1, 10), (1, 20), (2, 100), (2, 200)]

T1: START: REPEATABLE_READ
T1: insert into cv select 2, sum(val) from cv where cls=1
T1: [(1, 10), (1, 20), (2, 30), (2, 100), (2, 200)]

          T2: START: REPEATABLE_READ
          T2: insert into cv select 1, sum(val) from cv where cls=2
          T2: [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200)]
          T2: commit and close

T1: commit and close

After  (cls, val): [(1, 10), (1, 20), (1, 300), (2, 30), (2, 100), (2, 200)]

**********

Before (cls, val): [(1, 10), (1, 20), (2, 100), (2, 200)]

T1: START: SERIALIZABLE
T1: insert into cv select 2, sum(val) from cv where cls=1
T1: [(1, 10), (1, 20), (2, 30), (2, 100), (2, 200)]

          T2: START: SERIALIZABLE
          T2: insert into cv select 1, sum(val) from cv where cls=2
          T2: [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200)]
          T2: commit and close

T1: SerializationFailure

After  (cls, val): [(1, 10), (1, 20), (1, 300), (2, 100), (2, 200)]</code></pre>
    </div>
    <div class="w3-col m3">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Write Skew Avoidance- with Locks</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">Before (kid, betrag): [(100, 80), (200, 50)]

T1: START: READ_COMMITTED
T1: select * from konto order by kid for update
T1: [(100, 80), (200, 50)]

          T2: START: READ_COMMITTED
T1: update konto set betrag = betrag -90 where kid=100
T1: [(100, -10), (200, 50)]
T1: commit and close

          T2: select * from konto order by kid for update
          T2: [(100, -10), (200, 50)]

          T2: commit and close

After  (kid, betrag): [(100, -10), (200, 50)]</code></pre>
    </div>
    <div class="w3-col m4">
	    <p class="w3-large">
		    xxx<br><br>
	    </p>
    </div>
</div>
<div class="ic-gap"></div>
