---
layout: default1
nav: adbkt-vorlesungen
is_slide: 1
n: 10
title: Transaktionen in Postgres
---

{% include translate.html %}

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>SQL-Konsistenzstufen</h1>
<table class="w3-table-all">
    <tr>
        <th>Isolation Level</th>
        <th>Dirty Read</th>
        <th>Nonrepeatable Read</th>
        <th>Phantom Read</th>
        <th>Serialization Anomaly</th>
    </tr>
    <tr>
        <td>Read uncommitted</td>
        <td>Allowed, but not in PG</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Read committed</td>
        <td>Not possible</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Repeatable read</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Allowed, but not in PG</td>
        <td>Possible</td>
    </tr>
    <tr>
        <td>Serializable</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Not possible</td>
        <td>Not possible</td>
    </tr>
</table>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Benutzung Transaktions API</h1>
<h3>Python</h3>
<pre><code class="language-python">reset_personal(conparams)
show_tc(conparams, tblPers, ordPers, msgBeforePers)
con = t_start("T1", il1, conparams, rc, pers100upd41000, persAllSel)
t_finish("T1", il1, con)
show_tc(conparams, tblPers, ordPers, msgAfterPers)
</code></pre>

<h3>Ausgabe</h3>
<pre><code class="language-sql">DB state before (pid, gehalt): [(100, 40000), (200, 50000)]
T1: READ_COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: [(100, 41000), (200, 50000)]
T1: commit and close
DB state after (pid, gehalt): [(100, 41000), (200, 50000)]
</code></pre>

<h3>Python</h3>
<pre><code class="language-python">reset_personal(conparams)
show_tc(conparams, tblPers, ordPers, msgBeforePers)
con = t_start("T1", il1, conparams, rc, pers100upd41000, persAllSel)
t_finish("T1", il1, con, rollback=True)
show_tc(conparams, tblPers, ordPers, msgAfterPers)
</code></pre>

<h3>Ausgabe</h3>
<pre><code class="language-sql">DB state before (pid, gehalt): [(100, 40000), (200, 50000)]
T1: READ_COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: [(100, 41000), (200, 50000)]
T1: rollback and close
DB state after (pid, gehalt): [(100, 40000), (200, 50000)]
</code></pre>

<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Transaktions API - synchron</h1>
<pre><code class="language-python">def t_start(tname, il, conparams, iso, sql, sel="", printPre=False, printAfter=True):
    prefix = t_prefix(tname, il)
    print(f"{prefix}{iso.name}")
    con = psycopg.connect(conparams)
    con.set_isolation_level(iso)
    if printPre: print(f"{prefix}{con.execute(sel).fetchall()}")    
    con.execute(sql)
    print(f"{prefix}{sql}")
    if printAfter: print(f"{prefix}{con.execute(sel).fetchall()}")
    return con
</code></pre>

<pre><code class="language-python">def t_do(tname, il, con, sql, sel="", printPre=False, printAfter=True):
    prefix = t_prefix(tname, il)
    if printPre: print(f"{prefix}{con.execute(sel).fetchall()}")    
    print(f"{prefix}{sql}")
    con.execute(sql)
    if printAfter: print(f"{prefix}{con.execute(sel).fetchall()}")
</code></pre>

<pre><code class="language-python">def t_finish(tname, il, con, sel="", rollback=False, printState=False):
    prefix = t_prefix(tname, il)
    if printState: print(f"{prefix}{con.execute(sel).fetchall()}")    
    if rollback: 
        con.rollback()
        print(f"{prefix}rollback and close")
    else:
        con.commit()
        print(f"{prefix}commit and close")
    con.close()
</code></pre>

<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Snapshot - Read Committed</h1>
<pre><code class="language-sql">DB state before (kid, betrag): [(100, 2), (200, 6)]
T1: READ_COMMITTED
T1: update konto set betrag = 3 where kid=100
T1: [(100, 3), (200, 6)]
T1: commit and close
                    TRead: READ_COMMITTED
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]
          T2: READ_COMMITTED
          T2: update konto set betrag = 7 where kid=200
          T2: [(100, 3), (200, 7)]
          T2: commit and close
T3: READ_COMMITTED
T3: insert into konto values (300, 1)
T3: [(100, 3), (200, 7), (300, 1)]
T3: commit and close
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 7), (300, 1)]
                    TRead: commit and close
DB state after (kid, betrag): [(100, 3), (200, 7), (300, 1)]
</code></pre>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Snapshot - Repeatble Read</h1>
<pre><code class="language-sql">DB state before (kid, betrag): [(100, 2), (200, 6)]
T1: READ_COMMITTED
T1: update konto set betrag = 3 where kid=100
T1: [(100, 3), (200, 6)]
T1: commit and close
                    TRead: REPEATABLE_READ
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]
          T2: READ_COMMITTED
          T2: update konto set betrag = 7 where kid=200
          T2: [(100, 3), (200, 7)]
          T2: commit and close
T3: READ_COMMITTED
T3: insert into konto values (300, 1)
T3: [(100, 3), (200, 7), (300, 1)]
T3: commit and close
                    TRead: select * from konto order by kid
                    TRead: [(100, 3), (200, 6)]
                    TRead: commit and close
DB state after (kid, betrag): [(100, 3), (200, 7), (300, 1)]
</code></pre>
<p class="w3-large">Kein Unterschied bei SERIALIZABLE</p>

<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Lost Update</h1>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    17 ******************************************************************
-->
{% include padding-id.html id=17 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    18 ******************************************************************
-->
{% include padding-id.html id=18 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    19 ******************************************************************
-->
{% include padding-id.html id=19 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


<!--
    20 ******************************************************************
-->
{% include padding-id.html id=20 %}
<h1>xxx</h1>
<div class="ic-gap"></div>


