html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 35px;
  bottom: 35px;
  height: inherit;
}

.ic-gap {
  height: 2000px;
}

.ic-active {
  background-color: lightgray;
  color: black;
}

.ic-neg3 {
  margin-bottom: -3px;
}

.ic-neg5 {
  margin-bottom: -5px;
}

.ic-neg7 {
  margin-bottom: -7px;
}

.ic-neg10 {
  margin-bottom: -10px;
}

.ic-neg15 {
  margin-bottom: -15px;
}

.ic-neg20 {
  margin-bottom: -20px;
}

