---
layout: default1
nav: dsml-sql
title: Relationenmodell - DMDB
is_slide: 1
n: 6
---
{% include translate.html %}

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Tables and their Relationships</h1>
<h2>Table Department</h2>
<img class="w3-image" src="/home/lv/dsml/a/relmod/tbl-department.png">
<p class="w3-large ic-neg15">DID primary key (PK)</p>
<p class="w3-large">PKs must be unique</p>

<h2>Table Student</h2>
<img class="w3-image" src="/home/lv/dsml/a/relmod/tbl-student1.png">

<p class="w3-large ic-neg15">SID primary key</p>
<p class="w3-large ic-neg15">Dept foreign key (FK)</p>
<p class="w3-large ic-neg15">Dept contains references to department records</p>
<p class="w3-large ic-neg15">FK and PK must have same data type</p>
<p class="w3-large ic-neg15">FKs must not be unique</p>
<p class="w3-large ic-neg15">Values in FK column must exist in PK column</p>
<p class="w3-large ic-neg15">FKs represent many-to-one relationship</p>
<p class="w3-large ic-neg15">Student 1 and 2 are registered in the MBAE programme</p>
<p class="w3-large ic-neg15">Student 3 is registered in Business Computing</p>

<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Data Types (Example Subset)</h1>
<table class="w3-table-all">
  <tr>
    <th>Type Name</th>
    <th>Domain</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td>integer</td>
    <td>integral numbers</td>
    <td>-100, 200</td>
  </tr>
  <tr>
    <td>decimal(5,3)</td>
    <td>fixed precision numbers</td>
    <td>10.156</td>
  </tr>
  <tr>
    <td>float</td>
    <td>floating point numbers</td>
    <td>10.154789</td>
  </tr>
  <tr>
    <td>varchar(10)</td>
    <td>Strings</td>
    <td>'Hello'</td>
  </tr>
  <tr>
    <td>date</td>
    <td>dates</td>
    <td>2025-01-01 14:30:12</td>
  </tr>
</table>
<div class="ic-gap"></div>

<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Integrity Constraints</h1>
<ul class="w3-large">
  <li>Primary key / Unique Constraint</li>
  <ul>
    <li>Uniqueness of column values</li>
    <li>Identification of records</li>
  </ul>
  <li>Foreign key</li>
  <ul>
    <li>Relationships between tables</li>
    <li>Referential integrity, target must exist</li>
  </ul>
  <li>Check Constraint</li>
  <ul>
    <li>Restriction on column values</li>
    <li>Quantities of line items within orders must be greater than 0</li>
  </ul>
  <li>Not Null Constraint</li>
  <ul>
    <li>Must contain values, i.e. cannot be empty</li>
  </ul>
</ul>
<div class="ic-gap"></div>

<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Reasons for Null Values</h1>
<ul class="w3-large">
  <li>Information not provided</li>
  <ul>
    <li>Private telefon number</li>
  </ul>
  <li>Information not existing, yet</li>
  <ul>
    <li>Exmatriculation date exists only after exmatriculation</li>
  </ul>
  <li>Column not suitable</li>
  <ul>
    <li>Table for person records with data for students and other persons</li>
    <li>Column MatrNo only applicable for student records</li>
  </ul>
</ul>
<div class="ic-gap"></div>

<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Structural Representation</h1>
<p class="w3-large ic-neg15">Structural overview of tables and relationships</p>
<p class="w3-large ic-neg15">No table contents, no details</p>
<p class="w3-large">Compact and clear</p>
<img class="w3-image" src="/home/lv/dsml/a/relmod/model-student.png">

<p class="w3-large ic-neg15">FK and PK column above arrow</p>
<p class="w3-large ic-neg15">Can be omitted if FK and PK have same name</p>
<div class="ic-gap"></div>

<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>SQL Code</h1>
<h2>Table Student</h2>
<pre><code class="language-sql">create table Department (
  DID integer not null primary key,
  Name varchar(200) not null,
  Location varchar(50) not null
);

insert into Department values (1, 'MBAE', 'TGS');
insert into Department values (2, 'BC', 'TA');
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/relmod/tbl-department.png">

<pre><code class="language-sql">create table Student (
  SID integer not null primary key,
  MatrNo varchar(10) not null,
  LastName varchar(200) not null,
  ImDate date not null,
  ExdDate date,
  Dept integer not null,
  foreign key (Dept) references Department (DID)
);

insert into Student values (1, '500123', 'Agarwal', '2024-10-01', null, 1);
insert into Student values (2, '503456', 'Ali', '2019-10-01', '2023-03-24', 1);
insert into Student values (3, '505789', 'Nguyen', '2021-04-01', null, 2);
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/relmod/tbl-student1.png">

<pre><code class="language-sql">update Student set ExdDate = '2025-03-02' where SID = 3;
delete from Student where SID = 2;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/relmod/tbl-student2.png">
<div class="ic-gap"></div>

