---
layout: default1
nav: dsml-sql
title: SQL - Sub Queries - DSML
is_slide: 1
n: 5
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Modularization of Queries</h1>
<h2>Common Table Expression (CTE)</h2>
<pre><code class="language-sql">with
  asal_ou as (
    select ouid, round(avg(salary)) as avgsal_ou
    from employee
    group by ouid
  )
select
  e.ouid,
  lastname,
  salary,
  avgsal_ou,
  salary-avgsal_ou as diff
from employee e
     join asal_ou on e.ouid=asal_ou.ouid
order by e.ouid, diff desc;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/100.png">


<h2>CTE with one Row and one Column</h2>
<pre><code class="language-sql">with
  asal as (select round(avg(salary)) as avgsal from employee)
select
  lastname,
  salary,
  avgsal,
  salary-avgsal as diff
from employee cross join asal
order by diff desc;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/110.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Subquery in Where Part</h1>
<h2>Usage as Value - one Row and one Column</h2>
<pre><code class="language-sql">select lastname
from employee
where salary >= (
  select round(avg(salary ))
  from employee
)
order by lastname;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/120.png">

<h2>Usage as List - many Rows and one Column</h2>
<pre><code class="language-sql">select ouid, lastname
from employee
where ouid in (
  select ouid
  from orgunit
  where head=109
);
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/130.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Exists</h1>
<h2>Employees with largest Salary</h2>
<pre><code class="language-sql">select eid, lastname, salary
from employee e
where not exists (
  select *
  from employee e2
  where e2.salary > e.salary
);
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/140.png">

<h2>Orgunits with largest average salary</h2>
<pre><code class="language-sql">with
  asal as (
    select ouid, avg(salary) as avgsal_ou
    from employee
    group by ouid
 )
select ouid, avgsal_ou
from asal asal_ou1
where not exists (
  select *
  from asal asal_ou2
  where asal_ou2.avgsal_ou > asal_ou1.avgsal_ou
);
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/150.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Recursive Queries</h1>
<pre><code class="language-sql">with 
  recursive super as (
    select ouid, name, 1 as level, superunit
    from orgunit
    where superunit is null
    union all
    select sub.ouid, sub.name, super.level + 1 as level, sub.superunit
    from orgunit sub
         join super on super.ouid=sub.superunit
  )
select * from super;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/160.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Lateral Join</h1>
<pre><code class="language-sql">with
  asal as (select round(avg(salary)) as avgsal from employee)
select lastname, salary, avgsal, diff
from asal, 
     lateral (select lastname, salary, salary-avgsal as diff from employee)
order by diff desc;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql4/170.png">
<div class="ic-gap"></div>

