---
layout: default1
nav: dsml-sql
title: SQL - Window Functions - DSML
is_slide: 1
n: 6
hide: 1
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Data - Table t03</h1>
<h2>Part 1 - 2022</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">
<h2>Part 2 - 2023</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">
<h2>Part 3 - 2024</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">

<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1 class="ic-neg15">Aggregation</h1>
<ul class="w3-large">
    <li><b>partition by</b>: whole partition</li>
    <li><b>order by</b>: begin up to current line</li>
    <li><b>partition by order by</b>: begin partition up to current line in partition</li>
</ul>

<h2>Different Kinds of Aggregation</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  sum(v1) over (partition by yyyy order by mm) as cum_year,
  sum(v1) over (partition by yyyy) as year,
  sum(v1) over (order by yyyy, mm) as cum_all,
  sum(v1) over () as all
from t03
where yyyy in ('2023', '2024') and mm in ('01', '02', '03', '04')
order by yyyy, mm;;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/100.png">

<h2>Percent of Total</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  sum(v1) over (partition by yyyy) as year,
  round((v1 / sum(v1) over (partition by yyyy)) * 100, 2)
    as percent_month_of_year
from t03
where yyyy in ('2023', '2024') 
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/110.png">

<h2>Peers</h2>
<p class="w3-large"><b>order by</b>: begin up to last peer</p>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v2,
  sum(v2) over (order by v2) as vv2
from t03
where yyyy in ('2024')
order by v2;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/120.png">

<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1 class="ic-neg15">Rank</h1>
<h2>Different Kinds of Ranking</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (order by v1 desc) as rank,
  dense_rank() over (order by v1 desc) as dense_rank,
  row_number() over (order by v1 desc) as lineno
from t03
where yyyy in ('2024')
order by rank;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/130.png">

<h2>Different Order of Output</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (order by v1 desc) as rank,
  dense_rank() over (order by v1 desc) as dense_rank
from t03
where yyyy in ('2024')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/140.png">

<h2>Ranking within Partitions</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (partition by yyyy order by v1 desc) as rank,
  dense_rank() over (partition by yyyy order by v1 desc) as dense_rank,
  row_number() over (partition by yyyy order by v1 desc) as lineno
from t03
where yyyy in ('2023', '2024');
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/150.png">
<div class="ic-gap"></div>

<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1 class="ic-neg15">Moving Averages</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  round(avg(v1) over (
    order by mm rows between 1 preceding and 1 following),2)
    as moving_avg
from t03
where yyyy in ('2022')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/160.png">
<p class="w3-large ic-neg15">Restriction of window</p>
<ul class="w3-large">
    <li>UNBOUNDED PRECEDING</li>
    <li>offset PRECEDING</li>
    <li>CURRENT ROW</li>
    <li>offset FOLLOWING</li>
    <li>UNBOUNDED FOLLOWING</li>
</ul>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1 class="ic-neg15">Positioning</h1>
<h2>Column mm</h2>
<pre><code class="language-sql">select
  mm,
  v1,
  lag(mm) over (order by mm) as one_before,
  lag(mm, 4) over (order by mm) as four_before,
  first_value(mm) over (order by mm) as first,
  last_value(mm) over (order by mm rows between 
    unbounded preceding and unbounded following) as last,
  nth_value(mm, 3) over (order by mm rows between 
    unbounded preceding and unbounded following) as third
from t03
where yyyy in ('2024')
order by mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/170.png">

<h2>Column v1</h2>
<pre><code class="language-sql">select
  mm,
  v1,
  lag(v1) over (order by mm) as one_before,
  lag(v1, 4) over (order by mm) as four_before,
  first_value(v1) over (order by mm) as first,
  last_value(v1) over (order by mm rows between 
    unbounded preceding and unbounded following) as last,
  nth_value(v1, 3) over (order by mm rows between 
    unbounded preceding and unbounded following) as third
from t03
where yyyy in ('2024')
order by mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/180.png">

<h2>Year-over-Year</h2>
<pre><code class="language-sql">select
  yyyy,
  mm,
  lag(yyyy || '-' || mm) 
    over (partition by mm order by yyyy, mm) as previous_year,
  lag(yyyy || '-' || mm, 2) 
    over (partition by mm order by yyyy, mm) as two_years_before
from t03
where mm in ('01', '02', '08')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/190.png">

<div class="ic-gap"></div>



<!--
    6 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1 class="ic-neg15">Distributions</h1>
<pre><code class="language-sql">Select
  yyyy,
  mm,
  v3,
  row_number() over (order by v3) as nr,
  ntile(6) over (order by v3) as bucket,
  round(cume_dist() over (order by v3), 2)
    as distribution
from t03
where yyyy in ('2024')
order by v3;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/200.png">
<p class="w3-large ic-neg15"><b>ntile(6)</b>: dividing into 6 equal buckets</p>
<p class="w3-large"><b>cume_dist</b>: cumulative distribution: number of rows or peers preceeding / total number of rows</p>


<div class="ic-gap"></div>


