---
layout: default1
nav: dmdb-sql
title: SQL - Window Functions - DSML
is_slide: 1
n: 13
hide: 1
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Data - Table t03</h1>
<h2>Part 1 - 2022</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">
<h2>Part 2 - 2023</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">
<h2>Part 3 - 2024</h2>
<img class="w3-image" src="/home/lv/dsml/a/sql5/090.png">

<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1 class="ic-neg15">Aggregation 1</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  sum(v1) over (partition by yyyy order by mm) as cum_year,
  sum(v1) over (partition by yyyy) as year,
  sum(v1) over (order by yyyy, mm) as cum_all,
  sum(v1) over () as all
from t03
where yyyy in ('2023', '2024') and mm in ('01', '02', '03', '04')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/100.png">
<p class="w3-large ic-neg15">Fensterumfang</p>
<ul class="w3-large">
    <li>PARTITION BY:<br>gesamte Partition</li>
    <li>ORDER BY:<br>von Beginn bis zur aktuellen Zeile (bis zum letzten Peer)</li>
    <li>PARTITION BY ORDER BY:<br>von Beginn der Partition bis zur aktuellen Zeile in der Partition (bis zum letzten Peer)</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1 class="ic-neg15">Aggregation 2</h1>
<p class="w3-large">Window-Funktionen in Berechnungen,<br> hier prozentualer Anteil</p>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  sum(v1) over (partition by yyyy) as jahr,
  round((v1 / sum(v1) over (partition by yyyy)) * 100, 2)
    as prozent
from t03
where yyyy in ('2024')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/110.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1 class="ic-neg15">Aggregation 3</h1>
<p class="w3-large">Sortierung über v2</p>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v2,
  sum(v2) over (order by v2) as vv2
from t03
where yyyy in ('2024')
order by v2;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/120.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1 class="ic-neg15">Rank 1</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (order by v1 desc) as rang,
  dense_rank() over (order by v1 desc) as dichter_rang,
  round(percent_rank() over (order by v1 desc), 2) as prozent_rang,
  row_number() over (order by v1 desc) as zeilennummer
from t03
where yyyy in ('2024');
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/130.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1 class="ic-neg15">Rank 2</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (order by v1 desc) as rang,
  dense_rank() over (order by v1 desc) as dichter_rang,
  round(percent_rank() over (order by v1 desc), 2) as prozent_rang,
  row_number() over (order by v1 desc) as zeilennummer
from t03
where yyyy in ('2024')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/140.png">
<p class="w3-large">Andere Sortierung in der Ausgabe als in der Rangbildung</p>

<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1 class="ic-neg15">Rank 3</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  rank() over (partition by yyyy order by v1 desc) as rang,
  dense_rank() over (partition by yyyy order by v1 desc) as dichter_rang,
  row_number() over (partition by yyyy order by v1 desc) as zeilennummer
from t03
where yyyy in ('2023', '2024');
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/150.png">
<p class="w3-large">Rangbildung pro Partition</p>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1 class="ic-neg15">Moving Averages</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v1,
  round(avg(v1) over (
    order by mm rows between
      1 preceding and
      1 following),
    2)
  as jahr
from t03
where yyyy in ('2022')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/160.png">
<p class="w3-large ic-neg15">Einschränkung des Fensters</p>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>UNBOUNDED PRECEDING</li>
            <li>offset PRECEDING</li>
            <li>CURRENT ROW</li>
        </ul>
            </div>
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>offset FOLLOWING</li>
            <li>UNBOUNDED FOLLOWING</li>
        </ul>
            </div>
</div>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1 class="ic-neg15">Positioning 1</h1>
<pre><code class="language-sql">select
  mm,
  v1,
  lag(mm) over (order by mm) as eins_vorher,
  lag(mm, 4) over (order by mm) as vier_vorher,
  first_value(mm) over (order by mm) as erster,
  last_value(mm) over (order by mm rows between unbounded preceding and unbounded following) as letzter,
  nth_value(mm, 3) over (order by mm rows between unbounded preceding and unbounded following) as dritter
from t03
where yyyy in ('2024')
order by mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/170.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1 class="ic-neg15">Positioning 2</h1>
<pre><code class="language-sql">select
  mm,
  v1,
  lag(v1) over (order by mm) as eins_vorher,
  lag(v1, 4) over (order by mm) as vier_vorher,
  first_value(v1) over (order by mm) as erster,
  last_value(v1) over (order by mm rows between unbounded preceding and unbounded following) as letzter,
  nth_value(v1, 3) over (order by mm rows between unbounded preceding and unbounded following) as dritter
from t03
where yyyy in ('2024')
order by mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/180.png">
<p class="w3-large">Spalte v1 in der Ausgabe</p>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1 class="ic-neg15">Positioning 3</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  lag(yyyy || '-' || mm) over (partition by mm order by yyyy, mm) as ein_jahr_vorher,
  lag(yyyy || '-' || mm, 2) over (partition by mm order by yyyy, mm) as zwei_jahre_vorher
from t03
where mm in ('01', '02', '08')
order by yyyy, mm;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/190.png">
<p class="w3-large">Year over Year</p>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1 class="ic-neg15">Distributions 1</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v3,
  row_number() over (order by v3) as nr,
  ntile(6) over (order by v3) as bucket,
  round(cume_dist() over (order by v3), 2)
    as verteilung
from t03
where yyyy in ('2023', '2024')
order by v3;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/200.png">
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1 class="ic-neg15">Distributions 2</h1>
<pre><code class="language-sql">select
  yyyy,
  mm,
  v3,
  row_number() over (partition by yyyy order by v3)
    as nr,
  ntile(6) over (partition by yyyy order by v3)
    as bucket,
  round(
    cume_dist() over (partition by yyyy order by v3),
    2
    ) as verteilung
from t03
where yyyy in ('2023', '2024')
order by yyyy, v3;
</code></pre>
<img class="w3-image" src="/home/lv/dsml/a/sql5/210.png">
<div class="ic-gap"></div>


