---
layout: default1
nav: dsml-ml
title: Common Machine Learning Algorithms - DSML
is_slide: 1
n: 9
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Linear Regression</h1>
<p class="w3-large">Used for: Regression</p>

<p class="w3-large ic-neg15">How it works:</p>
<ul class="w3-large">
    <li> Fits a "best-fit" straight line (or hyperplane) through data points</li>
    <li>Relationship between independent variables (X) and a continuous dependent variable (Y).</li>
</ul>

<p class="w3-large ic-neg15">Use Cases:</p>
<ul class="w3-large">
    <li>Predicting house prices based on square footage and location</li>
    <li>Forecasting future sales revenue based on ad spend</li>
    <li>Estimating the impact of different factors on a continuous outcome</li>
</ul>

<p class="w3-large ic-neg15">Pros/Cons</p>
<ul class="w3-large">
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>



<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Logistic Regression</h1>
<p class="w3-large">Used for: Classification</p>

<p class="w3-large ic-neg15">How it works:</p>
<ul class="w3-large">
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Use Cases:</p>
<ul class="w3-large">
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>

<p class="w3-large ic-neg15">Pros/Cons</p>
<ul class="w3-large">
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxxxx</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Decision Trees & Random Forests</h1>
<p class="w3-large"><strong>Used for: </strong>Classification & Regression</p>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Naive Bayes</h1>
<p class="w3-large"><strong>Used for: </strong>Classification</p>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Support Vector Machines (SVM)</h1>
<p class="w3-large"><strong>Used for: </strong>Classification & Regression</p>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1> k-Nearest Neighbors (k-NN)</h1>
<p class="w3-large"><strong>Used for: </strong>Classification & Regression</p>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Gradient Boosting (e.g., XGBoost, LightGBM)</h1>
<p class="w3-large"><strong>Used for: </strong>Regression</p>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Comparison of Algorithms</h1>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>How to Choose an Algorithm</h1>
<div class="ic-gap"></div>


