---
layout: default1
nav: dsml-ml
title: Categorical Feature Encoding - DSML
is_slide: 1
n: 9
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Categorical Data</h1>
<p class="w3-large">
    Represents labels or distinct groups, not numerical measurements
</p>

<p class="w3-large ic-neg15">Examples</p>
<ul class="w3-large">
    <li>Colors (Red, Green, Blue)</li>
    <li>Cities (New York, London, Tokyo)</li>
    <li>Customer Status (Active, Churned, Pending)</li>
</ul>

<p class="w3-large">
    Most ML algorithms require numerical input
</p>
<p class="w3-large">Translation into numbers needed</p>

<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Two Types of Categorical Data</h1>

<p class="w3-large ic-neg15">Nominal Data (No Order)</p>
<ul class="w3-large">
    <li>Categories have no intrinsic ranking</li>
    <li>Apple, Banana, Orange: Apple is not "greater" than Banana</li>
</ul>

<p class="w3-large ic-neg15">Ordinal Data (Ordered)</p>
<ul class="w3-large">
    <li>Categories have meaningful order</li>
    <li> Low, Medium, High</li>
    <li>S, M, L, XL</li>
</ul>

<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Label / Ordinal Encoding</h1>

<p class="w3-large ic-neg15">Maps each category to a unique integer</p>
<ul class="w3-large">
    <li>Low: 1</li>
    <li>Medium: 2</li>
    <li>High: 3</li>
</ul>
<p class="w3-large ic-neg15">Pros</p>
<ul class="w3-large">
    <li>Easy to implement</li>
    <li>Extremely memory efficient</li>
    <li>Preserves order (great for ordinal data)</li> 
</ul>
<p class="w3-large ic-neg15">Cons</p>
<ul class="w3-large">
    <li>Implies a false numerical relationship for nominal data</li>
    <li>Banana is not "greater" than Apple</li>
    <li>Or two times as big</li>
</ul>

<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>One-Hot Encoding (OHE)</h1>

<p class="w3-large ic-neg15">Creates a new binary column for every unique category</p>
<ul class="w3-large">
    <li>Color_Red | Color_Green | Color_Blue</li>
    <li>Red becomes: [1, 0, 0]</li>
    <li>Green becomes: [0, 1, 0]</li>
    <li>Blue becomes: [0, 0, 1]</li>
</ul>

<p class="w3-large ic-neg15">Pros</p>
<ul class="w3-large">
    <li>Eliminates false ordinal relationships</li>
    <li>Great for nominal data</li>
</ul>

<p class="w3-large ic-neg15">Cons</p>
<ul class="w3-large">
    <li>Can lead to high-dimensional feature spaces</li>
    <li> If a column has 1,000 unique categories, OHE adds 1,000 columns</li>
    <li>Creates sparse matrices (lots of zeros)</li>
    <li>Increases computational complexity</li>
</ul>

<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Target / Mean Encoding</h1>
<p class="w3-large ic-neg15">Replaces a category with the average value of the target variable for that category</p>

<p class="w3-large ic-neg15">Example 1: Classification (Customer Churn)</p>
<ul class="w3-large">
    <li>Prediction whether a customer will churn (1 = Yes, 0 = No)</li>
    <li>You have a categorical feature City</li>
    <li>New York: 1,000 customers, 300 churned 30% churn rate</li>
    <li>London: 500 customers, 50 churned: 10% churn rate</li>
    <li>Tokyo: 200 customers, 80 churned: 40% churn rate</li>
    <li>Encode the cities with their respective churn rates (mean of target values)</li>
    <li>Tokyo has a higher churn rate than New York and London</li>
    <li>Model learns that Tokyo is a higher-risk city for customer churn</li>
</ul>

<p class="w3-large ic-neg15">Example 2: Regression (House Prices)</p>
<ul class="w3-large">
    <li>Prediction of house prices</li>
    <li>You have a categorical feature Neighborhood</li>
    <li>Downtown: Average house price = $500,000</li>
    <li>Suburbs: Average house price = $250,000</li>
    <li>Rural: Average house price = $150,000</li>
    <li>Replace the categories with the averages</li>
    <li>Sensible value for this feature</li>
</ul>

<p class="w3-large ic-neg15">Pros</p>
<ul class="w3-large">
    <li>Handles high cardinality beautifully</li>
    <li>Captures predictive power directly</li>
</ul>

<p class="w3-large ic-neg15">Cons</p>
<ul class="w3-large">
    <li>Data Leakage / Overfitting</li>
    <li>If not cross-validated properly, the model "sees" the target during training</li>
    <li>Requires smoothing to handle rare categories</li>
    <li>Can be sensitive to outliers in the target variable</li>
    <li>May not perform well with very small sample sizes</li>
</ul>

<p class="w3-large ic-neg15">The "Rare Category" Problem & Smoothing</p>
<ul class="w3-large">
    <li>Predicting Churn</li>
    <li>You have a Zip_Code feature</li>
    <li>Zip_Code_A, only has 1 customer, and that customer churned</li>
    <li>Zip_Code_A gets encoded as 100% churn rate</li>
    <li>Solution: blend the category's mean with the global mean</li>
    <li>Smoothing Formula: (Category_Count * Category_Mean + Weight * Global_Mean) / (Category_Count + Weight)</li>
    <li>Set Weight to e.g. 10</li>
    <li>We want at least 10 samples before we fully trust the category's mean</li>
    <li>Calculation: (1 * 1.0 + 10 * 0.2) / (1 + 10) = 0.27</li>
</ul>



<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Frequency / Count Encoding</h1>

<p class="w3-large ic-neg15">Replaces categories with how often they appear in the dataset</p>
<ul class="w3-large">
    <li>If "New York" appears 5,000 times in the dataset, it becomes 5000</li>
</ul>

<p class="w3-large ic-neg15">Pros</p>
<ul class="w3-large">
    <li>Simple, fast, and doesn't add extra columns</li>
    <li>Works well when frequency correlates with the target</li>
    <li>Helps to identify rare categories</li>
    <li>Can be used as a feature in its own right</li>
</ul>

<p class="w3-large ic-neg15">Cons</p>
<ul class="w3-large">
    <li>Different categories can end up with the same number if they have the same frequency</li>
    <li>Doesn't capture target relationship directly</li>
</ul>

<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Binary & Hashing Encoding</h1>

<p class="w3-large ic-neg15">Binary Encoding</p>
<ul class="w3-large">
    <li>Converts integers (from Label Encoding) into binary digits</li>
    <li>Creates one column per bit</li>
    <li>30 categories: only 5 columns needed (vs. 30 for OHE)</li>
</ul>

<p class="w3-large ic-neg15">Feature Hashing</p>
<ul class="w3-large">
    <li>Applies a hash function to the category</li>
    <li>Maps the hashed value to a fixed number of columns, e.g. modulo 5</li>
    <li>Corresponding column number is set to 1</li>
    <li>Behaves like a compressed version of One-Hot Encoding</li>
</ul>

<p class="w3-large ic-neg15">Pros</p>
<ul class="w3-large">
    <li>Massive memory savings for extreme cardinality (e.g., IP addresses, User IDs)</li>
</ul>

<p class="w3-large ic-neg15">Cons</p>
<ul class="w3-large">
    <li> Irreversible (can't easily map back to original category)</li>
    <li> Hash collisions</li>
</ul>

<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>How to Choose the Right Encoder</h1>

<table class="w3-table-all">
    <tr>
        <th>Scenario</th>
        <th>Encoding Method</th>
    </tr>
    <tr>
        <td>Low Cardinality Nominal (< 15 categories)</td>
        <td>One-Hot Encoding</td>
    </tr>
    <tr>
        <td>Ordinal Data (clear hierarchy)</td>
        <td>Label / Ordinal Encoding</td>
    </tr>
    <tr>
        <td>High Cardinality Nominal (> 50 categories)</td>
        <td>Target, Frequency, or Hashing</td>
    </tr>
    <tr>
        <td>Tree-Based Models (Random Forest, XGBoost)</td>
        <td>Label, Target, or no encoding </td>
    </tr>
    <tr>
        <td>Linear / Distance-Based Models (LinReg, KNN)</td>
        <td>One-Hot, Target</td>
    </tr>
</table>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Best Practices & Pitfalls</h1>

<p class="w3-large ic-neg15">Fit on Train, Transform on Test</p>
<ul class="w3-large">
    <li>Always fit your encoder on the training data</li>
    <li>Then apply to test data to prevent data leakage</li>
</ul>

<p class="w3-large ic-neg15">Handle unknown categories</p>
<ul class="w3-large">
    <li>Test data might have categories not seen in training data</li>
    <li>Plan for them (e.g., map to an "Unknown" category)</li>
</ul>

<p class="w3-large ic-neg15">Handle Missing Values</p>
<ul class="w3-large">
    <li>Treat missing data as own category</li>
    <li>Impute missing values with a specific value (e.g., "Missing")</li>
    <li>Use domain knowledge to fill in missing values</li>
    <li>Consider the context and business logic when handling missing data</li>
</ul>

<p class="w3-large ic-neg15">Use processing pipelines</p>
<ul class="w3-large">
    <li>Ensure that all data preprocessing steps are applied consistently</li>
    <li>Automate the preprocessing workflow to reduce manual errors</li>
</ul>

<div class="ic-gap"></div>

