---
layout: default1
nav: dsml-ml
title: Introduction to Machine Learning - DSML
is_slide: 1
n: 4
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Overview</h1>
<p class="w3-large ic-neg15">General Ideas</p>
<ul class="w3-large">
    <li>Learning from Data</li>
    <li>Identify Patterns</li>
    <li>Create Models</li>
    <li>Identifying features</li>
    <li>Predicting Targets</li>
</ul>

<p class="w3-large ic-neg15">Models</p>
<ul class="w3-large">
    <li>Learned functions that maps features to predictions</li>
    <li>Built (trained) by analyzing patterns in training data and adjusting internal parameters to minimize error</li>
    <li>Can be used on new, unseen data to make predictions</li>
</ul>

<p class="w3-large ic-neg15">Core components of a model</p>
<ul class="w3-large">
    <li>Parameters - e.g., weights in linear regression or or split points in decision trees</li>
    <li>Features (inputs) -  variables the model uses to make predictions (e.g., location to predict house prices</li>
    <li>Outputs (targets/predictions) - result the model produces (e.g., predicted house price)</li>
</ul>

<p class="w3-large ic-neg15">Types of machine learning models</p>
<ul class="w3-large">
    <li>Supervised learning models</li>
    <ul>
        <li>Linear Regression</li>
        <li>Logistic Regression</li>
        <li>Tree-based models</li>
        <li>Support Vector Machines (SVMs)</li>
        <li>Neural Networks</li>
    </ul>
    <li>Unsupervised learning models</li>
    <ul>
        <li>Clustering models</li>
        <li>Dimensionality reduction models</li>
    </ul>
    <li>Reinforcement learning models</li>
    <ul>
        <li>Q-learning</li>
    </ul>
</ul>

<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Regression</h1>
<p class="w3-large">Predicting a real number value</p>
<p class="w3-large">Example: Estimating Appartment Prices</p>
<img class="w3-image" src="/home/lv/dsml/a/ml-intro/100.png">
<p class="w3-large">Target: Price</p>
<p class="w3-large">Features: ?</p>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Classification</h1>
<p class="w3-large">Predicting a label</p>
<p class="w3-large">Example: Kind of Iris Plant</p>
<img class="w3-image" src="/home/lv/dsml/a/ml-intro/200.png">
<p class="w3-large">Target: Kind, eg. setosa, virginica or versicolor</p>
<p class="w3-large">Features: ?</p>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Features and Targets</h1>
<img class="w3-image" src="/home/lv/dsml/a/ml-intro/300.png"><br>
<img class="w3-image" src="/home/lv/dsml/a/ml-intro/400.png">
<p class="w3-large ic-neg15">All entries must be numbers, i.e. all feature and target values must be transformed into numbers</p>
<p class="w3-large ic-neg15">Each feature vector is one instance/object</p>
<div class="ic-gap"></div>

