---
layout: default
title: "Überblick"
n: 3
---
{% include padding-id.html id=1 %}
<h1 id=1>Lerninhalte</h1>
<ul class="w3-large">
  <li>Relationenmodell</li>
  <li>Entity-Relationship-Modell</li>
  <li>SQL</li>
  <li>Normalisierung</li>
  <li>Datenbanksysteme als Teil betrieblicher Informationssysteme</li>
</ul>
<div class="ic-gap"></div>

{% include padding-id.html id=2 %}
<h1 id=2>Leistungsnachweise</h1>
<ul class="w3-large">
  <li>Bewertete Übungsaufgaben (30%)</li>
  <ul>
    <li>Lösungen werden in Kleingruppen erarbeitet</li>
    <li>Übungsblätter und Abgabetermine stehen auf der Web-Seite</li>
  </ul>
</ul>
<ul class="w3-large">
  <li>Klausur (70%)</li>
  <ul>
    <li>Alle Unterlagen erlaubt</li>
  </ul>
</ul>
<div class="ic-gap"></div>

{% include padding-id.html id=3 %}
<h1 id="3">Literatur</h1>
<ul class="w3-large">
  <li>Faeskorn-Woyke, Bertelsmeier, Riemer, Bauer: Datenbanksysteme, Pearson Verlag</li>
  <li>Kudraß: Taschenbuch Datenbanken, Hanser Verlag</li>
</ul>
<div class="ic-gap"></div>