---
layout: default
title: "Excel / Rel"
is_slide: 1
n: 6
---
<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Raumverwaltung in Excel</h1>
<img class="w3-image" src="/lv/dmdb/a/excel-rel/d10-100.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Raumverwaltung als relationales Modell</h1>
<ul class="w3-large">
    <li>Typisches Szenario: Excel-Lösung nicht mehr ausreichend</li>
    <li>Entwicklung einer Anwendung auf Grundlage eines relationalen Datenmodells</li>
    <li>Relationales Modell komplett anders strukturiert, keine direkte 1-zu-1-Übertragung</li>
</ul>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Übergang in relationales Modell</h1>
<img class="w3-image" src="/lv/dmdb/a/excel-rel/d20-100.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Relationales Modell</h1>
<img class="w3-image" src="/lv/dmdb/a/excel-rel/d30-100.png">
<div class="ic-gap"></div>

<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1 class="ic-neg10">Daten</h1>
<img class="w3-image" src="/lv/dmdb/a/excel-rel/d40-120.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Diskussion</h1>
<ul class="w3-large">
    <li>Übersichtlichkeit der Datendarstellung</li>
    <li>Sicherstellung von Konsistenzbedingungen</li>
    <li>Redundanz</li>
    <li>Abbildbare Komplexität</li>
    <li>Bearbeitbarkeit große Datenmengen</li>
    <li>Möglichkeiten der Datenanalyse</li>
</ul>
<div class="ic-gap"></div>


