---
layout: default
title: "Fallbeipiele"
is_slide: 1
n: 12
---
<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>


<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Datenumfänge</h1>
<!-- Row -->
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">SELECT 'customer' AS "table", count(*) AS anzahl FROM customer
                union
                SELECT 'sales' AS "table", count(*) AS anzahl FROM sales
                union
                SELECT 'store' AS "table", count(*) AS anzahl FROM store
                union
                SELECT 'product' AS "table", count(*) AS anzahl FROM product
                union
                SELECT 'timebyday' AS "table", count(*) AS anzahl FROM timebyday
                ORDER BY anzahl;</code></pre>
    </div>
    <div class="w3-col m4">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-10.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Umsatz pro Jahr und Land</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/dm-foodmart/diagram.png">
    </div>
    <div class="w3-col m6">
        <pre><code class="language-sql">SELECT country, tyear, sum(unitsales)
                FROM sales s
                join timebyday tbd ON tbd.timeid=s.timeid
                join customer c ON c.customerid=s.customerid
                group by country, tyear;</code></pre>
        <img class="w3-image" src="/lv/dmdb/a/sql-CASE/tab-20.png">
        <img class="w3-image" src="/lv/dmdb/a/sql-CASE/fig-10.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Analyse Produkthierarchie 1</h1>
<div class="w3-row-padding">
    <div class="w3-col m3">
        <pre><code class="language-sql">SELECT family, count(*)
                FROM product
                group by family
                ORDER BY family;</code></pre>
    </div>
    <div class="w3-col m4">
        <pre><code class="language-sql">SELECT department, count(*)
                FROM product
                group by department
                ORDER BY department;</code></pre>
    </div>
    <div class="w3-col m5">
        <pre><code class="language-sql">SELECT family, department, count(*)
                FROM product
                group by family, department
                ORDER BY family, department;</code></pre>
    </div>
</div>
<div class="w3-row-padding">
    <div class="w3-col m3">
        <img class="w3-image" src="/lv/dmdb/a/sql-CASE/tab-30.png">
    </div>
    <div class="w3-col m4">
        <img class="w3-image" src="/lv/dmdb/a/sql-CASE/tab-40.png">
    </div>
    <div class="w3-col m5">
        <img class="w3-image" src="/lv/dmdb/a/sql-CASE/tab-50.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Analyse Produkthierarchie 2</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">SELECT department
                FROM
                (SELECT family, department
                FROM product
                group by family, department)
                group by department
                having count(*)>1;</code></pre>
    </div>
    <div class="w3-col m4">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-60.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Kundenanalyse</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">SELECT education,
                CASE
                WHEN yearlyincome in ('$10K - $30K', '$30K - $50K', '$50K - $70K') THEN 'L1'
                ELSE 'L2'
                END AS annual_income, count(*)
                FROM customer
                group by
                education,
                CASE
                WHEN yearlyincome in ('$10K - $30K', '$30K - $50K', '$50K - $70K') THEN 'L1'
                ELSE 'L2'
                END
                ORDER BY
                education,
                annual_income;</code></pre>
    </div>
    <div class="w3-col m4">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-70.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Top 3 aus 2014 - Vergleich mit 2015
</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <pre><code class="language-sql">with p3top AS (
                SELECT productid, sum(unitsales) AS sales2014
                FROM sales s join timebyday t ON s.timeid=t.timeid
                WHERE tyear=2014
                group by productid
                ORDER BY sum(unitsales) desc fetch first 3 rows only
                )
                SELECT
                s.productid, sales2014, sum(unitsales) AS sales2015,
                sum(unitsales) - sales2014 AS diff
                FROM sales s join timebyday t ON s.timeid=t.timeid
                join p3top ON s.productid=p3top.productid
                WHERE tyear=2015
                group by s.productid, sales2014;</code></pre>
    </div>
    <div class="w3-col m4">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-80.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Analytische Funktionen</h1>
<table class="w3-table-all">
    <tr>
        <td><code class="language-sql">sum(valcol) over()</code></td>
        <td>Gesamtsumme</td>
    </tr>
    <tr>
        <td><code class="language-sql">sum(valcol) over(partion by groupcol)</code></td>
        <td>Teilsumme pro Gruppe</td>
    </tr>
    <tr>
        <td><code class="language-sql">sum(valcol) over(ORDER BY ordercol)</code></td>
        <td>Kumulierte Summe</td>
    </tr>
    <tr>
        <td><code class="language-sql">sum(valcol) over(partion by groupcol ORDER BY ordercol)</code></td>
        <td>Kumulierte Summe pro Gruppe</td>
    </tr>
    <tr>
        <td><code class="language-sql">rank() over(ORDER BY ordercol)</code></td>
        <td>Rangbildung (für Top-N-Analysen)</td>
    </tr>
</table>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Prozentualer Anteil</h1>
<pre><code class="language-sql">with
    basecube AS (
      SELECT 
        family, tyear, tmonthnumber, 
        sum(unitsales) AS unitsales
      FROM sales s
           join timebyday tbd ON tbd.timeid=s.timeid
           join product p ON p.productid=s.productid
      group by tyear, tmonthnumber, family
  )
  SELECT 
    tyear, tmonthnumber, family, 
    unitsales,
    sum(unitsales) over(partition by tyear, tmonthnumber) AS total_month,
    round(unitsales/sum(unitsales) over(partition by tyear, tmonthnumber), 3) * 100 AS percent_of_month,  
    sum(unitsales) over() AS total,
    round(unitsales/sum(unitsales) over(), 3) * 100 AS percent_of_total
  FROM basecube
  ORDER BY tyear, tmonthnumber, family;</code></pre>
<img class="w3-image" src="/lv/dmdb/a/sql-CASE/tab-90.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Kumulative Summe</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <pre><code class="language-sql">with
            basecube AS (
              SELECT 
                tyear, tmonthnumber, 
                sum(unitsales) AS unitsales
              FROM sales s
                   join timebyday tbd ON tbd.timeid=s.timeid
                   join product p ON p.productid=s.productid
              group by tyear, tmonthnumber
          )
          SELECT 
            tmonthnumber, unitsales,
            sum(unitsales) over(ORDER BY tmonthnumber) AS cumulative
          FROM basecube
          WHERE tyear=2014
          ORDER BY tmonthnumber;</code></pre>
    </div>
    <div class="w3-col m5">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-100.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Kumulative Summe pro Gruppe</h1>
<div class="w3-row-padding">
    <div class="w3-col m7">
        <pre><code class="language-sql">with
            basecube AS (
              SELECT 
                family, tyear, tmonthnumber, 
                sum(unitsales) AS unitsales
              FROM sales s
                   join timebyday tbd ON tbd.timeid=s.timeid
                   join product p ON p.productid=s.productid
              group by family, tyear, tmonthnumber
          )
          SELECT 
            family, tmonthnumber, unitsales,
            sum(unitsales) over(partition by family ORDER BY tmonthnumber) AS cumulative
          FROM basecube
          WHERE tyear=2014
          ORDER BY family, tmonthnumber;</code></pre>
    </div>
    <div class="w3-col m5">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-110.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Top 10 Produkte</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <pre><code class="language-sql">with
            basecube AS (
              SELECT 
                pname, 
                sum(unitsales) AS unitsales
              FROM sales s
                   join product p ON p.productid=s.productid
              group by pname
          )
          SELECT 
            rank() over(ORDER BY unitsales desc) AS ranklevel,
            pname, 
            unitsales
          FROM basecube
          ORDER BY ranklevel
          fetch first 10 rows only;</code></pre>
    </div>
    <div class="w3-col m6">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-120.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>ABC-Analyse</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <pre><code class="language-sql">with
            basecube AS (
              SELECT 
                category, 
                sum(unitsales) AS unitsales
              FROM sales s
                   join product p ON p.productid=s.productid
              group by category
            ),
            revenues AS (
              SELECT
                category, 
                unitsales,
                sum(unitsales) over(ORDER BY unitsales desc) AS cum_revenue,
                sum(unitsales) over() AS total_revenue
              FROM basecube
            )
          SELECT 
            category, unitsales, cum_revenue, total_revenue,
            CASE 
              WHEN cum_revenue < 0.5 * total_revenue THEN 'A'
              WHEN cum_revenue < 0.7 * total_revenue THEN 'B'
              ELSE 'C'
            END AS cat    
          FROM revenues
          ORDER BY unitsales desc;</code></pre>
    </div>
    <div class="w3-col m6">
        <img class="w3-image w3-padding-16" src="/lv/dmdb/a/sql-CASE/tab-130.png">
    </div>
</div>
<div class="ic-gap"></div>