---
layout: default
title: "Gruppierungen / Aggregationen"
is_slide: 1
n: 13
---

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Aggregationsfunktionen</h1>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Gruppierung</h1>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Konzept Gruppierung</h1>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Aggregationsebenen</h1>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Gruppierung und Verbund</h1>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Gruppierung nach Ausdrücken 1</h1>
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Gruppierung nach Ausdrücken 2</h1>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Gruppierung nach mehreren Spalten</h1>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Änderung der Anzahl der Gruppen</h1>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Gruppierung bei abhängigen Spalten</h1>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Bedingungen auf Gruppenebene</h1>
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>Bedingungen auf Detail- und Gruppenebene</h1>
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>Aufbau Query mit Gruppierung</h1>
<pre><code class="language-sql w3-xlarge">select
from
where
group by
having
order by</code></pre>
<div class="ic-gap"></div>


