---
layout: default
title: "Verbund"
is_slide: 1
n: 11
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Informationen aus mehrerem Tabellen - Berichte </h1>
<div class="w3-center">
    <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-01.png">
</div>
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Kartesisches Produkt</h1>
<div class="w3-center">
    <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-02.png">
</div>
<div class="ic-gap"></div>

<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Kartesisches Produkt auf Tabellen</h1>
<pre><code class="language-sql">select * from mitarbeiter cross join orgeinheit; 18 x 7 = 126 Datensätze</code></pre>
<img class="w3-image" src="/lv/dmdb/a/sql-join/fig-03.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Filterung auf kartesischem Produkt</h1>
<pre><code class="language-sql">select *
        from mitarbeiter
        cross join orgeinheit
        where mitarbeiter.oeid=orgeinheit.oeid;</code></pre>
<img class="w3-image" src="/lv/dmdb/a/sql-join/fig-04.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Verbund (Inner Join)</h1>
<pre><code class="language-sql">select
        orgeinheit.bezeichnung as orgeinheit,
        mitarbeiter.mid, mitarbeiter.name as mitarbeiter, mitarbeiter.eintrittsdatum, mitarbeiter.gehalt
        from mitarbeiter
        inner join orgeinheit on orgeinheit.oeid=mitarbeiter.oeid;</code></pre>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <p><b>Abkürzung für Tabellennamen:</b><br>
            mitarbeiter m<br>
            orgeinheit oe<br>
            <b>inner join</b> kann abgekürzt werden zu <b>join</b>
        </p>
        <pre><code class="language-sql">select
                oe.bezeichnung as orgeinheit,
                m.mid, m.name as mitarbeiter, m.eintrittsdatum, m.gehalt
                from mitarbeiter m
                join orgeinheit oe on oe.oeid=m.oeid;</code></pre>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-05.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Effekte des Verbunds</h1>
<pre><code class="language-sql">select * from R join S on B=D;</code></pre>
<img class="w3-image" src="/lv/dmdb/a/sql-join/fig-07.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Verbund von 3 Tabellen</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <pre><code class="language-sql">select p.titel, m.name
            from projekt p
            join maproj mp on mp.pid=p.pid
            join mitarbeiter m on m.mid=mp.mid;</code></pre>
        <p>Andere Reihenfolge der Tabellen<br>
           gleiches Ergebnis
        </p>
        <pre><code class="language-sql">select p.titel, m.name
            from mitarbeiter m
            join maproj mp on mp.mid=m.mid
            join projekt p on p.pid=mp.pid;</code></pre>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-08.png">
        <p>Verbund beliebig vieler Tabellen möglich</p>
     </div>
</div>
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Reflexiver Verbund</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <pre><code class="language-sql">select
            ober.bezeichnung as obereinheit,
            unter.bezeichnung as untereinheit
            from orgeinheit ober
            join orgeinheit unter on unter.obereinheit=ober.oeid;</code></pre>
        <p>Zweifache Verwendung derselben Tabelle:<br>
            unterschiedliche Aliasnamen notwendig
        </p>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-09.png">
     </div>
</div>
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Leitung und Nicht-Leitung</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <pre><code class="language-sql">select
            m.name as mitarbeiter,
            oe.bezeichnung as leitet
            from mitarbeiter m
            join orgeinheit oe
            on oe.leitung=m.mid;</code></pre>
        <p>Wie ermittelt man alle Personen ohne Leitungsfunktion?<br>
           Geht mit dem Inner Join nicht<br>
           Lösung: Outer Join
        </p>
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-10.png">
     </div>
</div>
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Äußerer Verbund (Outer Join)</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-13.png">
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/lv/dmdb/a/sql-join/fig-14.png">
    </div>
</div>
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Leitung und Nicht-Leitung</h1>
<div class="ic-gap"></div>

<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>xxx</h1>
<div class="ic-gap"></div>