---
layout: default1
nav: dsml-bi
title: Cubes and OLAP Operations - DSML
is_slide: 1
n: 5
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Relational View on Cubes</h1>
<img class="w3-image" src="/home/lv/dsml/a/bi/cube1.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>3-dimensional Interpretation</h1>
<img class="w3-image" src="/home/lv/dsml/a/bi/cube2.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>2-dimensional Representation</h1>
<p class="w3-large">Common format used by tools</p>
<img class="w3-image" src="/home/lv/dsml/a/bi/cube3.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Cube Operations</h1>
<img class="w3-image" src="/home/lv/dsml/a/bi/cub4.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Cube Technology</h1>
<ul class="w3-large">
    <li>ROLAP - OLAP based on relational database technology</li>
    <li>MOLAP - OLAP based on multidimensional database technology</li>
    <li>HOLAP - combination of ROLAP and MOLAP</li>
</ul>
<div class="ic-gap"></div>


