---
layout: default1
nav: dsml-bi
title: BI Overview - DSML
is_slide: 1
n: 4
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Business Intelligence (BI)</h1>
<p class="w3-large ic-neg15">Umbrella term</p>
<ul class="w3-large">
    <li>Applications, infrastructure and tools</li>
    <li>Best practices</li>
    <li>Access to and analysis of information</li>
    <li>Improvement and optimization of decisions and performance</li>
    <li>Support for strategic, tactical and operational decisions</li>
</ul><div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>BI Views</h1>
<img class="w3-image" src="/home/lv/dsml/a/bi/views.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Data Warehouse</h1>

<p class="w3-large ic-neg15">According to Imnon, a Data Warehouse is a
</p>
<ul class="w3-large">
    <li>Subject oriented - data are organized around sales, products, etc.</li>
    <li>Integrated - data from multiple sources are combined</li>
    <li>Time-variant - data is stored to provide historical perspective</li>
    <li>Non-volatile - data are usually not updated</li>
</ul>

<p class="w3-large ic-neg15">collection of data</p>
<ul class="w3-large">
    <li>usually used to improve decision making</li>
    <li>single point of truth (SPOT)</li>
</ul>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Architecture</h1>
<img class="w3-image" src="/home/lv/dsml/a/bi/architecture.png">
<div class="ic-gap"></div>

