---
layout: default1
nav: dsml-viz
title: Visualization - Diagram Types - DSML
is_slide: 1
n: 6
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Amounts</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/20-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/10-50.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Distributions</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/120-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/80-50.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Proportions</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/90-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/100-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/110-50.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Associations</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/30-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/130-50.png"><br>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/140-50.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Geographic Data</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/05-dir-of-viz/70-50.png">
<div class="ic-gap"></div>

