---
layout: default1
nav: dsml-viz
title: Visualization - Proportions - DSML
is_slide: 1
n: 9
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Kuchendiagramme (Pie Charts)</h1>
<ul class="w3-large">
    <li>Fläche proportional zum Anteil Gesamtsumme</li>
    <li>Mehrheitsverhältnisse erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/10-30.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Gestapelte Balkendiagramme</h1>
<ul class="w3-large">
    <li>Fläche ebenfalls proportional zum Anteil Gesamtsumme</li>
    <li>Mehrheitsverhältnisse schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/20-30.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Balkendiagramm</h1>
<ul class="w3-large">
    <li>Direkter Vergleich einfach</li>
    <li>Mehrheitsverhältnisse sehr schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/30-30.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Zeitliche Veränderung von Proportionen 1</h1>
<ul class="w3-large">
    <li>In Kuchendiagrammen sehr schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/40-30.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Zeitliche Veränderung von Proportionen 2</h1>
<ul class="w3-large">
    <li>In gestapelten Balkendiagrammen auch schlecht erkennbar</li>
    <li>Besser als in Kuchendiagrammen</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/50-30.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Zeitliche Veränderung von Proportionen 3</h1>
<ul class="w3-large">
    <li>Gruppierte Balkendiagramme gute Wahl</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/60-30.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Zeitliche Veränderung von Proportionen 4</h1>
<ul class="w3-large">
    <li>Nur zwei Balken, zusammen 100%</li>
    <li>Hilfsline bei 50%</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/70-30.png">
<div class="ic-gap"></div>



<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Treemaps</h1>
<p class="w3-large">Well suited for nested data</p>
<img class="w3-image" src="/home/lv/dsml/a/viz/tmap.png">
<div class="ic-gap"></div>