---
layout: default1
nav: dsml-viz
title: Visualization - Amounts - DSML
is_slide: 1
n: 10
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Bar Charts</h1>
<p class="w3-large ic-neg15">Magnitudes of amounts</p>
<p class="w3-large ic-neg15">Comparison of amounts</p>
<p class="w3-large ic-neg15">Quantitative values per categorie</p>
<p class="w3-large ic-neg15">Values must start at zero</p>
<p class="w3-large">Common problem: labels too long</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/70-30.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Rotated Label</h1>
<p class="w3-large ic-neg15">Not optimal</p>
<p class="w3-large">Actually, matter of taste</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/60-30.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Horizontal Bar Charts</h1>
<p class="w3-large">Better solution in case of long labels</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/40-30.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Natural Order on Labels</h1>
<p class="w3-large">In this case the sorting according to labels is sensible</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/80-30.png">

<p class="w3-large">Sorting according to values would prevent insights</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/110-30.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Grouped Barchars</h1>
<p class="w3-large ic-neg15">Amounts for more than one Category</p>
<p class="w3-large">Demographics per Age Bands</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/90-30.png">

<p class="w3-large">Age Bands per Demographics </p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/120-40.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Grouped Bar Plots</h1>
<p class="w3-large ic-neg15">Here Age Bands per Demographics</p>
<p class="w3-large">No color coding necessary</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/100-30.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Stacked Barchars</h1>
<p class="w3-large ic-neg15">Totals for items of one category recognizable</p>
<p class="w3-large">Here per cabin class</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/150-30.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Dot Plots</h1>
<p class="w3-large ic-neg15">Barcharts must start at zero</p>
<p class="w3-large ic-neg15">Might hinder comprehension</p>
<p class="w3-large">Might disguise diferences. Differences seem to be small</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/30-30.png">

<p class="w3-large ic-neg15">But small differences in life expectancy might be important</p>
<p class="w3-large">Dot plots must not start at zero</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/10-30.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Heatmaps</h1>
<p class="w3-large ic-neg15">Large number of categories/combinations</p>
<p class="w3-large ic-neg15">Barchart not suitable</p>
<p class="w3-large">Here sorting according to amount in 2016</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/06-amounts/130-30.png">
<div class="ic-gap"></div>


