---
layout: default1
nav: dsml-viz
title: Visualization - Associations  - DSML
is_slide: 1
n: 5
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Association of two quantitative Variables</h1>
<p class="w3-large ic-neg15">Scatter Plot</p>
<p class="w3-large ic-neg15">Here headlength and wight of birds</p>
<p class="w3-large">The heavier the bird, the longer the head, roughly</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/10-50.png">

<p class="w3-large">Additional visual clue via color: sex</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/20-50.png">

<p class="w3-large">Further information via dot size: skull size</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/30-40.png">

<div class="ic-gap"></div>



<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Pairwise Association of many quantitative variables</h1>
<p class="w3-large">Matrix of Scatter Plots</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/40-40.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Correlation</h1>
<p class="w3-large ic-neg15">Correlation coefficient</p>
<p class="w3-large ic-neg15">+/-0.2: weak</p>
<p class="w3-large ic-neg15">+/-0.6: medium</p>
<p class="w3-large">+/-0.9: strong</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/50-40.png">

<p class="w3-large ic-neg15">Heatmap, actually, correlogram due to symmetry</p>
<p class="w3-large">Here mineral content of glass fragments </p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/60-40.png">
<p class="w3-large ic-neg15">Magnesium negatively correlated with nearly all others</p>
<p class="w3-large ic-neg15">Aluminum positively correlated with barium </p>
<div class="ic-gap"></div>




<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Association of few Data Points</h1>
<p class="w3-large ic-neg15">Slopegraph</p>
<p class="w3-large">Two measurements</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/120-40.png">
<p class="w3-large">Three measurements</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/12-assoc/130-40.png">
<div class="ic-gap"></div>


