---
layout: default1
nav: dsml-viz
title: Visualization - Proportions - DSML
is_slide: 1
n: 5
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Proportion via Aera as Fraction of Total</h1>
<p class="w3-large ic-neg15">Party composition of the German Bundestag</p>
<p class="w3-large">Pie Chart</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/10-40.png">

<p class="w3-large">Stacked Bar Chart</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/20-40.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Proportion via Amounts</h1>
<p class="w3-large ic-neg15">Direct comparison easy</p>
<p class="w3-large">Fraction of total obscured</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/30-30.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Change of Proportions over Time</h1>
<p class="w3-large">Grouped Bar Carts suitable</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/60-40.png">

<p class="w3-large">Stacked Bar Carts in case of two categories</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/70-40.png">

<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Nested Proportions</h1>
<p class="w3-large">Treemaps</p>
<img class="w3-image" src="/home/lv/dsml/a/viz/tmap.png">
<div class="ic-gap"></div>