---
layout: default1
nav: dsml-viz
title: Visualization - Miscellaneous - DSML
is_slide: 1
n: 5
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>



<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Area-based Visualization</h1>
<p class="w3-large ic-neg15">Tree map - rectangular version of Pie Chart</p>
<p class="w3-large">Nesting possible</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/130-40.png">
<p class="w3-large">Pie Chart - no nesting</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/110-40.png">
<p class="w3-large">Bar Chart - only amounts, no fraction of total</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/17-pink/120-40.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Geographic Data</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/sonstiges/d10-80.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Small Mutiples</h1>
<img class="w3-image" src="/home/lv/dmdb/a/viz/sonstiges/d20-100.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Dashboards</h1>
<img class="w3-image w3-border" src="/home/lv/dmdb/a/viz/sonstiges/d30-100.png">
<div class="ic-gap"></div>


