---
layout: default1
nav: dsml-viz
title: Visualization - Distributions - DSML
is_slide: 1
n: 11
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Histogram</h1>
<p class="w3-large ic-neg15">Number of records per value bin</p>
<p class="w3-large ic-neg15">Bin size must be chosen appropriately</p>
<p class="w3-large">Here numbers of passengers on Titanic per age band, bin size 5</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/10-40.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Different Bin Sizes</h1>
<p class="w3-large ic-neg15">(a) 1 year: too small</p>
<p class="w3-large ic-neg15">(b) 3 years: ok</p>
<p class="w3-large ic-neg15">(c) 5 years: ok</p>
<p class="w3-large">(d) 15 years: too large</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/40-40.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Density Plot</h1>
<p class="w3-large ic-neg15">Used for continuous values</p>
<p class="w3-large ic-neg15">Better, when there are many data points</p>
<p class="w3-large">Sometimes matter of taste what fits better</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/30-40.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Kernel, bandwidth</h1>
<p class="w3-large ic-neg15">(a) gaussian kernel, bandwidth = 0.5: too peaky</p>
<p class="w3-large ic-neg15">(b) gaussian kernel, bandwidth = 2: ok</p>
<p class="w3-large ic-neg15">(c) gaussian kernel, bandwidth = 5: ok</p>
<p class="w3-large">(d) rectangular kernel, bandwidth = 2: too steppy</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/20-40.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Boxplot</h1>
<p class="w3-large ic-neg15">Simple and informative</p>
<p class="w3-large">Useful for many distributions in one diagram</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/20-40.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Violin Plot</h1>
<p class="w3-large ic-neg15">Modern variant of boxplot</p>
<p class="w3-large">Suffcient data points needed</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/40-40.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Two Distributions at once</h1>
<p class="w3-large ic-neg15">Not clear if bars overlap</p>
<p class="w3-large">If bars are stacked, comparison of female passengers are impaired</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/60-40.png">

<p class="w3-large">If bars are not stacked, with transparent bars, meaning of third color not clear</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/70-40.png">

<p class="w3-large ic-neg15">Maybe density plot better suited</p>
<p class="w3-large ic-neg15">Density line helps interpretation</p>
<p class="w3-large">Beware of scaling of y-axis</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/80-40.png">

<p class="w3-large">Separate plots even better</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/90-40.png">

<p class="w3-large">In this case age pyramid best</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/100-40.png">

<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Multiple Distributions at once</h1>
<p class="w3-large ic-neg15">Density estimates of the butterfat percentage in the milk of four cattle breeds</p>
<p class="w3-large">Histograms are not suitable in this case</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/07-dist/110-40.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Many Distributions at once</h1>
<p class="w3-large">Mean daily temperatures</p>
<p class="w3-large">Boxplots</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/30-40.png">

<p class="w3-large">Violin plots</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/50-40.png">

<p class="w3-large ic-neg15">Strip plots</p>
<p class="w3-large">Problem overlapping points</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/60-40.png">

<p class="w3-large ic-neg15">Better, Strip plots, jittered</p>
<p class="w3-large">Points are randomly moved horizontally</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/70-40.png">

<p class="w3-large">Sina plots, combination of violin plot and strip plot</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/80-40.png">

<p class="w3-large">Ridgeline plots, half violin plots rotated by 90 degrees</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/90-40.png">
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Very many Distributions</h1>
<p class="w3-large">Evolution of movie lengths over time</p>
<img class="w3-image" src="/home/lv/dmdb/a/viz/09-many-dist/110-50.png">
<div class="ic-gap"></div>

