---
layout: default1
nav: dsml-viz
title: Visualization - Proportions - DSML
is_slide: 1
n: 16
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Attribution</h1>
<p class="w3-large">The following slides are based on</p>
<ul class="w3-large">
  <li>Fundamentals of Data Visualization (<a  href="https://clauswilke.com/dataviz/index.html">link</a>)<br>
  and are following the</li>
  <li>Attribution-NonCommercial-NoDerivatives 4.0 International License (<a  href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">link</a>) </li>
</ul>
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Kuchendiagramme (Pie Charts)</h1>
<ul class="w3-large">
    <li>Fläche proportional zum Anteil Gesamtsumme</li>
    <li>Mehrheitsverhältnisse erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/10-30.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Gestapelte Balkendiagramme</h1>
<ul class="w3-large">
    <li>Fläche ebenfalls proportional zum Anteil Gesamtsumme</li>
    <li>Mehrheitsverhältnisse schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/20-30.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Balkendiagramm</h1>
<ul class="w3-large">
    <li>Direkter Vergleich einfach</li>
    <li>Mehrheitsverhältnisse sehr schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/30-30.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Zeitliche Veränderung von Proportionen 1</h1>
<ul class="w3-large">
    <li>In Kuchendiagrammen sehr schlecht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/40-30.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Zeitliche Veränderung von Proportionen 2</h1>
<ul class="w3-large">
    <li>In gestapelten Balkendiagrammen auch schlecht erkennbar</li>
    <li>Besser als in Kuchendiagrammen</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/50-30.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>Zeitliche Veränderung von Proportionen 3</h1>
<ul class="w3-large">
    <li>Gruppierte Balkendiagramme gute Wahl</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/60-30.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>Zeitliche Veränderung von Proportionen 4</h1>
<ul class="w3-large">
    <li>Nur zwei Balken, zusammen 100%</li>
    <li>Hilfsline bei 50%</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/70-30.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>Proportionen bei kontinuierlichen Werten 1</h1>
<ul class="w3-large">
    <li>Flächendiagramm</li>
    <li>Absolute Anzahl der Personen nicht erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/80-30.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>Proportionen bei kontinuierlichen Werten 2</h1>
<ul class="w3-large">
    <li>Verhältnis zum Ganzen erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/90-30.png">
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>Proportionen bei kontinuierlichen Werten 3</h1>
<ul class="w3-large">
    <li>Verheiratet und Geschieden bei niedrigem und hohem Alter schlecht erkkenbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/100-30.png">
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>Proportionen bei kontinuierlichen Werten 4</h1>
<ul class="w3-large">
    <li>Verteilung von Status in Bezug auf Alter besser erkennbar</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/110-30.png">
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>Proportionen bei kontinuierlichen Werten 5</h1>
<ul class="w3-large">
    <li>Relative Verhältnisse</li>
</ul>
<img class="w3-image" src="/home/lv/dmdb/a/viz/10-proportions/120-30.png">
<div class="ic-gap"></div>

<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1>Mosaic Plots - Brücken</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <ul class="w3-large">
            <li>Material: Holz, Eisen, Stahl</li>
            <li>Epoche: Craft, Emerging, Mature, Modern</li>
        </ul>
        <img class="w3-image" src="/home/lv/dmdb/a/viz/11-nested-proportions/30-30.png">
    </div>
    <div class="w3-col m6">
        <p class="w3-large ic-neg15">Geschachtelte Proportionen</p>
        <ul class="w3-large">
            <li>Nach Epoche</li>
            <li>Innerhalb Epoche nach Material</li>
        </ul>
        <p class="w3-large ic-neg15">Ähnlichkeit zu Stacked Bar Charts</p>
        <ul class="w3-large">
            <li>Aber: Bars unterschiedlich breit</li>
            <li>X-Achse proportional zu Epoche</li>
            <li>Y-Achse proportional zu Material</li>
            <li>Fläche proportional zu Anzahl Brücken</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>Treemaps 1</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/11-nested-proportions/40-30.png">
    </div>
    <div class="w3-col m6">
        <p class="w3-large ic-neg10">Rekursive Schachtelung</p>
        <ul class="w3-large">
            <li>Erst nach Material</li>
            <li>Innerhalb Material nach Epoche</li>
        </ul>
    </div>
</div>
<div class="ic-gap"></div>

<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1>Treemaps 2</h1>
<div class="w3-row-padding">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/viz/11-nested-proportions/50-30.png">
    </div>
    <div class="w3-col m6">
        <p class="w3-large ic-neg10">Gut geeignet bei natürlicher Schachtelung</p>
    </div>
</div>
<div class="ic-gap"></div>