---
layout: default1
nav: dmdb-dm-er
title: ER Übungsbeispiele - DMDB
is_slide: 1
n: 6
---
<ul class="w3-large">
  <li>Bank (<a href="/home/lv/dmdb/a/er-ueb/er-bank.pdf">pdf</a>)</li>
  <li>Hausverwaltung (<a href="/home/lv/dmdb/a/er-ueb/er-hausverwaltung.pdf">pdf</a>)</li>
  <li>Transportunternehmen (<a href="/home/lv/dmdb/a/er-ueb/er-transport.pdf">pdf</a>)</li>
</ul>

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Bank</h1>
<p class="w3-large">
In dieser Aufgabe sollen Sie ein ER-Modell für eine Bank erstellen. Die Bank hat eine IBAN
und einen Namen. Sie unterhält Filialen, die eine Bezeichnung haben. Kunden sind genau
einer Filiale zugeordnet und haben einen Namen.
</p>
<p class="w3-large">
Die Bank unterhält Depots, in denen Wertpapiere verwahrt werden. Jedes Depot ist genau
einem Kunden zugeordnet und hat eine jährliche Grundgebühr. Für jedes Depot existiert ein
Ertragskonto, auf dem Dividenden und Zinsen gesammelt werden.
</p>
<p class="w3-large">
Wertpapiere unterteilen sich in Aktien und Investmentfonds (weitere Anlageformen werden
im Rahmen dieser Aufgabe nicht betrachtet). Sie haben eine Kennnummer (WKN) und eine
Bezeichnung. Zur Verwaltung der Stimmrechte wird darüber hinaus für jede Aktie vermerkt,
ob es sich um eine Stammaktie handelt (im Gegensatz zu Vorzugsaktien). Investmentfonds
haben einen Ausgabeaufschlag.
</p>
<p class="w3-large">
Jede Verwahrung eines Wertpapiers wird durch das zugehörige Depot und das verwahrte
Wertpapier identifiziert. Des Weiteren muss die Anzahl jedes Wertpapiers gespeichert
werden.
</p>
<p class="w3-large">
Vergeben Sie sinnvolle Identifikatoren für alle Entitätstypen.
</p>









<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Bank Lösung</h1>
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Hausverwaltung</h1>
<p class="w3-large">
  In dieser Aufgabe sollen Sie ein ER-Modell für eine Hausverwaltung erstellen. Es gibt
verschiedene Parteien, wie Mieter, Hausmeister, Dienstleister (für die Durchführung von
Reparaturen) und die Hausverwaltung selbst. Alle Parteien haben jeweils einen Namen und
beliebig viele Adressen. Adressen können beliebig vielen Parteien aber auch Gebäuden
zugeordnet sein.
</p>
<p class="w3-large">
  Jedes Gebäude besteht aus Wohnungen, hat genau einen Hausmeister und ist genau einer
Hausverwaltung zugeordnet. Eine Wohnung gehört zu genau einem Gebäude und hat eine
Anzahl von Zimmern.
</p>
<p class="w3-large">
  Eine Wohnung kann im Laufe der Zeit verschiedene Vermietungen haben. Zu jeder
Vermietung gehört eine Mietvertragsnummer, das Einzugsdatum und ein Auszugsdatum,
wobei letzteres solange einen Nullwert hat, solange der Vertrag besteht. Jede Vermietung
bezieht sich auf mindestens einen Mieter bzw. eine Mieterin und genau eine Wohnung.
</p>
<p class="w3-large">
  Zur Durchführung von Reparaturen hat die Hausverwaltung mit verschiedenen Dienstleistern
(Elektro-, Sanitärunternehmen, Tischler, Schlüsseldienst) Verträge abgeschlossen. Jeder
Dienstleister betreut verschiedene Gebäude und hat eine Service-Telefonnummer unter der
angerufen werden kann, wenn etwas in der Wohnung oder im Gebäude defekt ist. Ein
Dienstleister kann mehrere Dienstleistungsarten anbieten (Heizungsreparatur, Beseitigung
von Rohrbrüchen usw.) und eine Dienstleistungsart kann von mehreren Dienstleistern
angeboten werden. Dienstleistungsarten sollen als dynamische Domäne modelliert werden.
</p>
<p class="w3-large">
  Die Hausverwaltung und der Hausmeister haben ebenfalls eine Telefonnummer.
</p>
<p class="w3-large">Vergeben Sie sinnvolle Identifikatoren für alle Entitätstypen.</p>
<div class="ic-gap"></div>















<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Hausverwaltung Lösung</h1>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Transportunternehmen</h1>
<p class="w3-large">
  Erstellen Sie ein ER-Modell, das Grundlage einer Datenbanklösung für ein Transport-
unternehmen sein soll.
</p>
<p class="w3-large">
  Das Unternehmen hat mehrere Lastkraftwagen (LKW) im Einsatz, welche zu verschiedenen
Zeiträumen (Beginn-/Endedatum) von verschiedenen Fahrern bzw. Fahrerinnen gefahren
werden. Die Fahrten werden durch den Fahrenden, den LKW und das Beginndatum
identifiziert. Für Fahrer/innen soll das Datum des Führscheins gespeichert werden und für
LKWs das Datum der Erstzulassung.
</p>
<p class="w3-large">
  Zur Reparatur der LKWs betreibt das Unternehmen mehrere Werkstätten und beschäftigt
Mechaniker/innen. Diese sind genau einer Werkstatt zugeordnet und können einen
Schweißerschein haben oder nicht. Eine Werkstatt kann eine Hebebühne haben oder nicht.
</p>
<p class="w3-large">
  Für alle Mitarbeiter bzw. Mitarbeiterinnen werden Name und Einstellungsdatum in
entsprechenden Attributen gespeichert.
</p>
<p class="w3-large">
  Im Reparaturfall wird ein LKW von mindestens einem Mechanikern bzw. Mechanikerin
repariert. Es können aber auch mehrere an der Reparatur beteiligt sein. Ein LKW muss nicht
immer in der gleichen Werkstatt repariert werden. In der Datenbank soll als dynamische
Domäne ein Liste von möglichen Reparaturarbeiten hinterlegt werden, die Arten wie
„Motor“, „Elektrik“, „Fahrgestell“ usw. umfasst.
</p>
<p class="w3-large ic-neg15">Mit der Datenbank sollen folgende Informationen ermittelt werden können:</p>
<ul class="w3-large">
    <li>Welcher Fahrer bzw. Fahrerin hat welchen LKW wann gefahren</li>
    <li>Wo wird ein bestimmter LKW gerade repariert</li>
    <li>Wer hat einen LKW wann repariert und welche Arten von Arbeiten wurden an diesem LKW durchgeführt</li>
</ul>
<p class="w3-large">Vergeben Sie sinnvolle Identifikatoren für alle Entitätstypen.</p>
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Transportunternehmen Lösung</h1>
<div class="ic-gap"></div>
