---
layout: default1
nav: dmdb-dm-rel
title: Datenmodell - Gartenmöbel - DMDB
is_slide: 1
n: 6
---
<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1 class="ic-neg10">Strukturdarstellung</h1>
<img class="w3-image" src="/home/lv/dmdb/a/dm-gm/model.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Anzahl Datensätze</h1>
<img class="w3-image" src="/home/lv/dmdb/a/dm-gm/anzahl-ds.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Verkaufsgebiete und Kunden</h1>
<div class="w3-row-padding">
    <div class="w3-col m5">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-gm/vg.png">

    </div>
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-gm/kunden_pro_vg.png">

    </div>
</div>
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Produktkategorien und Produkte</h1>
<div class="w3-row-padding">
    <div class="w3-col m8">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-gm/kat-prod.png">
    </div>
    <div class="w3-col m4">
        <p class="w3-large">Mica-Klappsessel ist in 2 Produktkategorien</p>
    </div>
</div>
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Anzahl Verkäufe pro Verkaufstag</h1>
<img class="w3-image" src="/home/lv/dmdb/a/dm-gm/vktage2anzahl.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Häufigkeit Kundennamen</h1>
<img class="w3-image" src="/home/lv/dmdb/a/dm-gm/namen_verteilung.png">
<div class="ic-gap"></div>
