---
layout: default1
nav: dmdb-dm-rel
title: Datenmodell - Unternehmen - DMDB
is_slide: 1
n: 3
---

<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Strukturdarstellung</h1>
<!--
    <pre><code class="language-sql">alter session set current_schema=uunternehmen;</code></pre>
-->
<img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/diagram.png">
<div class="ic-gap"></div>

<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Daten</h1>
<div class="w3-row">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/tab-mitarbeiter.png">
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/tab-orgeinheit.png">
    </div>
</div>

<div class="w3-row">
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/tab-maproj.png">
    </div>
    <div class="w3-col m6">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/tab-projekt.png">
    </div>
</div>
<div class="ic-gap"></div>

<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Organisationshierarchie</h1>
<div class="w3-row">
    <div class="w3-col m7">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/hierarchie.png">
    </div>
    <div class="w3-col m5">
        <img class="w3-image" src="/home/lv/dmdb/a/dm-unternehmen/tab-orgeinheit.png">
    </div>
</div>
<div class="ic-gap"></div>

