<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>



<!--
  <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
  <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
-->

<link rel="stylesheet" href="/assets/css/main.css">
<script src="/main.js"></script>

</head>
<body onload="init()">
  <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item w3-button w3-theme w3-left" href="javascript:void(0)" onclick="openSrr()" >Nav</a>
    <a class="w3-bar-item w3-button w3-theme w3-left" href="#" >Top</a>
    <a class="w3-bar-item w3-button w3-theme w3-left" href="/" >Home</a>
    <a class="w3-bar-item  w3-theme w3-right">
      {{page.head2}} - {{page.head1}}</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-small w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  {% include site-map.md mode="short" %}
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-32">
    <div id="ct" class="w3-container">
      <!--
      {% if page.head1 %}
      <div class="w3-theme-l5 w3-xxlarge">{{page.head1}}</div>
      {% endif %}
      {% if page.head2 %}
      <div class="w3-theme-l5 w3-xxlarge">{{page.head2}}</div>
      {% endif %}
      -->
      {{ content }}
    </div>
    <!--
    <div id="sr" class="w3-third w3-container">
    -->
    </div>
  </div>
</div>

<div id="srr" class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;">
  <button onclick="closeSrr()" class="w3-bar-item w3-button w3-large w3-teal">Close</button>
</div>


<script>
// syntax highlighting
hljs.highlightAll();

// hljs.addPlugin(
//     new CopyButtonPlugin({
//       callback: (text, el) => console.log("Copied to clipboard", text),
//     })
//     );
// hljs.initLineNumbersOnLoad();


// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}


</script>

</body>
</html>
