---
layout: default1
nav: graphdb
is_slide: 1
n: 20
---

<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>


<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>110</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'Hohenzollernplatz'})
  ((:Haltestelle)-[:L]->(:Haltestelle)){1,2}
  (hn:Haltestelle)
)
RETURN [n IN nodes(p) | n.name] as pfade;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/110-100.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>120</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'Hohenzollernplatz'})
  ((:Haltestelle)-[:L]->(:Haltestelle))+
  (hn:Haltestelle)
)
WITH p
ORDER BY length(p)
WITH [n IN nodes(p) | n.name] as pfade
RETURN pfade;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/120-100.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>130</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'FehrbellinerPlatz'})
  ((:Haltestelle)-[:L]->(:Haltestelle))+
  (hn:Haltestelle WHERE NOT EXISTS {(hn)-[:L]->(:Haltestelle)})
)
WITH p
ORDER BY length(p)
WITH [n IN nodes(p) | n.name] as pfade
RETURN pfade;
</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/130-100.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>140</h1>
<pre><code class="cypher">MATCH 
  p1 = (
    (h1:Haltestelle {name: 'SpichernStr'})
    ((:Haltestelle)-[:L]->(:Haltestelle))+
    (hm:Haltestelle)
  ),
  p2 = (
    (hm)
    ((:Haltestelle)-[:L]->(:Haltestelle))*
  (hn:Haltestelle)
)
WITH p1, p2
ORDER BY length(p1), length(p2)
WITH 
  [n IN nodes(p1) | n.name] as haltestellen1,
  [n IN nodes(p2) | n.name] as haltestellen2
RETURN haltestellen1, haltestellen2;
</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/140-100.png">
<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>150</h1>
<pre><code class="cypher">MATCH 
  (h1:Haltestelle {name: 'Hohenzollernplatz'})
  ((ha:Haltestelle)-[:L]->(:Haltestelle))+
  (hm:Haltestelle)
  ((hb:Haltestelle)-[:L]->(:Haltestelle))+
  (hn:Haltestelle)
RETURN h1.name, [h IN ha | h.name], hm.name, [h IN hb | h.name], hn.name;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/150-100.png">
<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>160</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'SpichernStr'})
  -[l:L]-*
  (h2:Haltestelle {name: 'Wittenbergplatz'})
)
RETURN  [n IN nodes(p) | n.name];</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/160-100.png">
<div class="ic-gap"></div>


<!--
    07 ******************************************************************
-->
{% include padding-id.html id=7 %}
<h1>170</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'HeidelbergerPlatz'})
  ((ha:Haltestelle)-[l:L]->(hb:Haltestelle))*
  (h2:Haltestelle {name: 'SpichernStr'})
)
RETURN [n IN nodes(p) | n.name];</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/170-100.png">
<div class="ic-gap"></div>


<!--
    08 ******************************************************************
-->
{% include padding-id.html id=8 %}
<h1>180</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'HeidelbergerPlatz'})
  ((ha:Haltestelle)-[l:L]-(hb:Haltestelle where hb.name<>'GüntzelStr'))*
  (h2:Haltestelle {name: 'SpichernStr'})
)
RETURN [n IN nodes(p) | n.name];</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/180-100.png">
<div class="ic-gap"></div>


<!--
    09 ******************************************************************
-->
{% include padding-id.html id=9 %}
<h1>190</h1>
<pre><code class="cypher">MATCH p = (
  (h1:Haltestelle {name: 'FehrbellinerPlatz'})
  ((ha:Haltestelle)-[l:L]->(hb:Haltestelle))*
  (h2:Haltestelle {name: 'SpichernStr'})
)
WITH  [r IN relationships(p)] as rels
UNWIND rels as r
RETURN startnode(r).name as von, endnode(r).name as bis, r.distanz as distanz;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/190-100.png">
<div class="ic-gap"></div>


<!--
    10 ******************************************************************
-->
{% include padding-id.html id=10 %}
<h1>200</h1>
<pre><code class="cypher">MATCH 
  (h1:Haltestelle {name: 'FehrbellinerPlatz'})
  -[l:L]->+
  (h2:Haltestelle {name: 'SpichernStr'})
WITH
  h1, h2,
  [x IN l | startnode(x).name] as hh,
  reduce(acc = 0, x IN l | acc + x.distanz) AS distanz
RETURN hh + h2.name, distanz
ORDER BY distanz;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/200-100.png">
<div class="ic-gap"></div>


<!--
    11 ******************************************************************
-->
{% include padding-id.html id=11 %}
<h1>210</h1>
<pre><code class="cypher">MATCH 
  (h1:Haltestelle {name: 'FehrbellinerPlatz'})
  -[l:L]->+
  (h2:Haltestelle {name: 'SpichernStr'})
WITH
  h1, h2,
  [x IN l | startnode(x).name] as hh,
  reduce(acc = 0, x IN l | acc + x.distanz) AS distanz
WHERE distanz < 2000
RETURN hh + h2.name, distanz
ORDER BY distanz;</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/210-100.png">
<div class="ic-gap"></div>


<!--
    12 ******************************************************************
-->
{% include padding-id.html id=12 %}
<h1>220</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    13 ******************************************************************
-->
{% include padding-id.html id=13 %}
<h1>230</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    14 ******************************************************************
-->
{% include padding-id.html id=14 %}
<h1>240</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    15 ******************************************************************
-->
{% include padding-id.html id=15 %}
<h1>250</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    16 ******************************************************************
-->
{% include padding-id.html id=16 %}
<h1>260</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    17 ******************************************************************
-->
{% include padding-id.html id=17 %}
<h1>270</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    18 ******************************************************************
-->
{% include padding-id.html id=18 %}
<h1>280</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    19 ******************************************************************
-->
{% include padding-id.html id=19 %}
<h1>290</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


<!--
    20 ******************************************************************
-->
{% include padding-id.html id=20 %}
<h1>300</h1>
<pre><code class="cypher">xxxxxxxxxxxxxxxxxx</code></pre>
<img class="w3-image" src="/home/lv/adbkt/a/graph/cypher-pfad2/-100.png">
<div class="ic-gap"></div>


