---
layout: default1
nav: adbkt-graphdb
title: "Ü: Cypher-Abfragen 1"
is_slide: 1
n: 6
---

<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>


<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Abfrage 1</h1>
<p class="w3-large">Alle Kunden der Commerzbank</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/100-100.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Abfrage 2</h1>
<p class="w3-large">Alle Privatkunden der Commerzbank</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/110-100.png">
<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Abfrage 3</h1>
<p class="w3-large">Anzahl aller Kunden</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/120-100.png">
<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Abfrage 4</h1>
<p class="w3-large">Kunden mit mehr als einem Konto</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/130-100.png">

<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Abfrage 5</h1>
<p class="w3-large">Kunden mit mehr als einem Konto - ein Datensatz pro Konto</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/140-100.png">

<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Abfrage 6</h1>
<p class="w3-large">Haltestellen durch die mehrere Linie gehen</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb1-cypher/200-100.png">
<div class="ic-gap"></div>
