---
layout: default1
nav: adbkt-graphdb
title: "Ü: Cypher-Abfragen 2"
is_slide: 1
n: 7
---

<!--
    00 ******************************************************************
-->
{% include padding-id.html id=0 %}
<p class="w3-xlarge">{{ page.title }}</p>
<div id="toc"></div>
<div class="ic-gap"></div>


<!--
    01 ******************************************************************
-->
{% include padding-id.html id=1 %}
<h1>Abfrage 1</h1>
<p class="w3-large">Alle Subunternehmen der 'Baustoff Gruppe'</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/150-100.png">
<div class="ic-gap"></div>


<!--
    02 ******************************************************************
-->
{% include padding-id.html id=2 %}
<h1>Abfrage 2</h1>
<p class="w3-large">Alle Pfade zu den Blättern in der Unternehmenshierarchie der 'Baustoff Gruppe'</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/160-100.png">

<div class="ic-gap"></div>


<!--
    03 ******************************************************************
-->
{% include padding-id.html id=3 %}
<h1>Abfrage 3</h1>
<p class="w3-large">Alle Überweisungen von Privatkunden an Unternehmen</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/170-100.png">

<div class="ic-gap"></div>


<!--
    04 ******************************************************************
-->
{% include padding-id.html id=4 %}
<h1>Abfrage 4</h1>
<p class="w3-large">Alle Pfade von Start- zu Endhaltestellen und deren Linie</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/210-100.png">

<div class="ic-gap"></div>


<!--
    05 ******************************************************************
-->
{% include padding-id.html id=5 %}
<h1>Abfrage 5</h1>
<p class="w3-large">Alle Verbindungen vom 'HeidelbergerPlatz' zu einer Endhaltestelle mit einem Umstieg</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/220-100.png">

<div class="ic-gap"></div>


<!--
    06 ******************************************************************
-->
{% include padding-id.html id=6 %}
<h1>Abfrage 6</h1>
<p class="w3-large">Zyklen im Zahlungsverkehr mit identischem Betrag</p>
<img class="w3-image" src="/home/lv/adbkt/a/graph/ueb2-cypher/180-100.png">
<div class="ic-gap"></div>

